<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 4.2. Подзапросы</p> 

<a id = Home></a>

24 марта 2022 года, чт<br>
Поток: ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


28 марта 2022 года, пн<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

31 марта 2022 года, чт<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)

In [2]:
#Шалимов К. ПИ20-1


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Связанные подзапросы"</p>

1. Напишите запрос для получения списка студентов, которые учатся в своем городе.
2. Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), с последующей сортировкой по идентификаторам университетов и курсам.
3. Напишите запрос для получения списка преподавателей, работающих не в своем городе, с последующей сортировкой по идентификаторам университетов и городам проживания преподавателей.
4. Напишите запрос для получения списка предметов, на изучение которых отведено максимальное количество часов среди всех предметов, изучаемых в том же семестре. Список упорядочить по семестрам.
5. Напишите запрос для получения списка студентов, получающих стипендию, превосходящую среднее значение стипендии на их курсе.
6. Напишите запрос для получения списка студентов, получающих минимальную стипендию в своем университете, с последующей сортировкой по значениям идентификатора университета и стипендии.
7. Напишите запрос для получения списка университетов, в которых учится более 5 студентов, с последующей сортировкой по рейтингам.
8. Напишите запрос для получения списка университетов, в которых работает более 5 преподавателей, с последующей сортировкой по рейтингам университетов.
9. Напишите запрос для получения списка отличников (студентов, получивших только отличные оценки), с последующей сортировкой по идентификаторам университетов и курсам.
10. Напишите запрос для получения списка неуспевающих студентов (получивших хотя бы одну неудовлетворительную оценку), с последующей сортировкой по идентификаторам университетов и курсам.

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook.</p>

1. Напишите команду SELECT, использующую связанные подзапросы и выполняющую вывод имен и идентификаторов студентов, у которых стипендия совпадает с максимальным значением стипендии для города, в котором живет студент.
6. Напишите запрос, который позволяет вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают в городе, где нет ни одного университета.
7. Напишите два запроса, которые позволяют вывести имена и идентификаторы всех студентов, о которых точно известно, что они проживают не в том городе, где расположен их университет: один запрос с использованием связанного подзапроса, а другой с использованием соединения.

<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания в Jupyter Notebook на тему "Использование оператора EXISTS".</p>

1. Напишите запрос с EXISTS, позволяющий вывести данные обо всех студентах обучающихся в вузах, имеющих рейтинг выше 300.

2. Напишите предыдущий запрос, используя соединения.

3. Напишите запрос с EXISTS, выбирающий сведения о каждом студенте, для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.

4. Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения, экзамены по которым сданы более чем одним студентом.

5. Напишите запрос для получения списка городов проживания студентов, в которых есть хотя бы один университет.

In [3]:
#! pip install sqlalchemy

In [4]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func
from sqlalchemy.sql import distinct, exists

In [5]:
engine = create_engine('sqlite:///../Data/Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД
# Вызов метода reflect() приводит к включению в объект metadata_obj словаря всех таблиц БД.
conn=engine.connect() # Соединение

In [6]:
# Таблицы в БД
metadata_obj.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

Создание объектов таблиц

In [7]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

# Решение

In [8]:
# Ваш код здесь

#2

"""
Напишите запрос для получения списка иногородних студентов (обучающихся не в своем городе), 
с последующей сортировкой по идентификаторам университетов и курсам.
"""

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(student)
s = s.where(student.c.city != sq)
s = s.order_by(student.c.univ_id, student.c.kurs)
print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id) ORDER BY student.univ_id, student.kurs
79

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (78, 'Агафонов', 'Василий', 150, 1, 'Грозный', datetime.datetime(1994, 10, 29, 0, 0), 10),
 (99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (113, 'Аксенов', 'Валерий', 150, 1, 'Мурманск', datetime.datetime(1994, 10, 27, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (66, 'Некрасова', 'Вероника', 250, 2, 'Иркутск', datetime.datetime(2004, 8, 23, 0, 0), 10),
 (3, 'Петров', 'Петр', 200, 3, 'Курск', datetime.datetime(2000, 12, 1, 0, 0), 10),
 (62, 'Семенова', 'Вероника', 0, 3, 'Вологда', datetime.datetime(2003, 10, 4, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10)]

In [9]:
'''3 Напишите запрос для получения списка преподавателей, работающих не в
своем городе, с последующей сортировкой
по идентификаторам университетов и городам проживания преподавателей. '''

sq = select(university.c.city)
sq = sq.where(university.c.univ_id == lecturer.c.univ_id).scalar_subquery()

s = select(lecturer)
s = s.where(lecturer.c.city != sq)
s = s.order_by(lecturer.c.univ_id, lecturer.c.city)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.lecturer_id, lecturer.surname, lecturer.name, lecturer.city, lecturer.univ_id
FROM lecturer
WHERE lecturer.city != (SELECT university.city
FROM university
WHERE university.univ_id = lecturer.univ_id) ORDER BY lecturer.univ_id, lecturer.city
24

[(2, 'Зайцева', 'Юлия', 'Белгород', 10),
 (13, 'Зыкова', 'Оксана', 'Калач', 10),
 (19, 'Алексеев', 'Елисей', 'Мценск', 10),
 (328, 'Сорокин', 'Андрей', 'Орел', 10),
 (6, 'Максимова', 'Иванна', 'Сковородино', 10),
 (3, 'Мамонтова', 'Акулина', 'Троицк (Моск.)', 11),
 (20, 'Тихонов', 'Ладомир', 'Кропоткин (Краснод.)', 15),
 (22, 'Беспалов', 'Юлиан', 'Рыбинск', 15),
 (9, 'Крюкова', 'Людмила', 'Анива', 18),
 (4, 'Богданова', 'Оксана', 'Всеволожск', 18)]

In [10]:
"""
4. Напишите запрос для получения списка предметов, на изучение которых отведено 
максимальное количество часов среди всех предметов, изучаемых в том же семестре.
Список упорядочить по семестрам.
"""

su1 = subject.alias('su1')
su2 = subject.alias('su2')

subq = select(func.max(su2.c.hour))
subq = subq.where(su2.c.semester == su1.c.semester).scalar_subquery()

s = select(su1)
s = s.where(su1.c.hour == subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT su1.subj_id, su1.subj_name, su1.hour, su1.semester
FROM subject AS su1
WHERE su1.hour = (SELECT max(su2.hour) AS max_1
FROM subject AS su2
WHERE su2.semester = su1.semester)
5

[(10, 'Информатика', 56, 1),
 (23, 'Теория вероятностей и математическая статистика', 72, 4),
 (43, 'Математика', 56, 2),
 (73, 'Физкультура', 34, 5),
 (94, 'Английский язык', 56, 3)]

In [11]:
"""
5. Напишите запрос для получения списка студентов, получающих стипендию,
превосходящую среднее значение стипендии на их курсе.
"""

st1 = student.alias('st1')
st2 = student.alias('st2')

subq = select(func.avg(st2.c.stipend))
subq = subq.where(st2.c.kurs == st1.c.kurs).scalar_subquery()

s = select(st1.c.surname, st1.c.name, st1.c.kurs, st1.c.stipend)
s = s.where(st1.c.stipend > subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st1.surname, st1.name, st1.kurs, st1.stipend
FROM student AS st1
WHERE st1.stipend > (SELECT avg(st2.stipend) AS avg_1
FROM student AS st2
WHERE st2.kurs = st1.kurs)
54

[('Иванов', 'Иван', 1, 150),
 ('Петров', 'Петр', 3, 200),
 ('Сидоров', 'Вадим', 4, 150),
 ('Зайцева', 'Ольга', 2, 250),
 ('Белкин', 'Вадим', 5, 250),
 ('Жук', 'Оксана', 1, 250),
 ('Некрасова', 'Вероника', 2, 250),
 ('Казакова', 'Ольга', 4, 250),
 ('Миронова', 'Анна', 2, 200),
 ('Кондрат', 'Синицин', 4, 200)]

In [12]:
"""
6. Напишите запрос для получения списка студентов, 
получающих минимальную стипендию в своем университете, 
с последующей сортировкой по значениям идентификатора университета и стипендии.
"""

st1=student.alias('st1')
st2=student.alias('st2')

sb=select(func.min(st2.c.stipend))
sb=sb.where(and_(st2.c.univ_id == st1.c.univ_id, st2.c.stipend > 0)).scalar_subquery()

s = select(st1)
s = s.where(st1.c.stipend == sb)
s = s.order_by(st1.c.univ_id, st1.c.stipend)
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st1.student_id, st1.surname, st1.name, st1.stipend, st1.kurs, st1.city, st1.birthday, st1.univ_id
FROM student AS st1
WHERE st1.stipend = (SELECT min(st2.stipend) AS min_1
FROM student AS st2
WHERE st2.univ_id = st1.univ_id AND st2.stipend > :stipend_1) ORDER BY st1.univ_id, st1.stipend
20

[(65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (116, 'Федоров', 'Гостомысл', 100, 4, 'Новый Уренгой', datetime.datetime(2000, 11, 16, 0, 0), 10),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (63, 'Пак', 'Ирина', 100, 1, 'Магадан', datetime.datetime(2000, 8, 22, 0, 0), 15),
 (61, 'Соколова', 'Ия', 100, 1, 'Колпашево', datetime.datetime(2002, 6, 25, 0, 0), 18),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (105, 'Антонов', 'Анатолий', 100, 1, 'Сыктывкар', datetime.datetime(1997, 4, 8, 0, 0), 22),
 (147, 'Симонов', 'Семен', 100, 5, 'Беломорск', datetime.datetime(2000, 3, 17, 0, 0), 22)]

In [13]:
"""
7. Напишите запрос для получения списка университетов, 
в которых учится более 5 студентов, с последующей сортировкой по рейтингам.
"""

subq = select(func.count(student.c.univ_id))
subq = subq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()

s = select(university)
s = s.where(subq > 5)
s = s.order_by(university.c.rating)

result = conn.execute(s).fetchall()
print(len(result))
result[:10]

8

[(47, 'КФУ', None, 'Казань'),
 (10, 'ВГУ', 296, 'Воронеж'),
 (46, 'ФГБОУ "Политех"', 304, 'Санкт-Петербург'),
 (14, 'БГУ', 326, 'Белгород'),
 (18, 'ВГМА', 327, 'Воронеж'),
 (44, 'ФинУ', 330, 'Москва'),
 (32, 'РГУ', 416, 'Ростов'),
 (22, 'МГУ', 606, 'Москва')]

In [14]:
'''8 Напишите запрос для получения списка университетов, в которых работает 
более 5 преподавателей, с последующей сортировкой по рейтингам университетов. '''
sg = select(lecturer.c.univ_id).group_by(lecturer.c.univ_id).having(func.count(lecturer.c.lecturer_id) > 5)

s=select(university)
s=s.where(university.c.univ_id.in_(sg))
s = s.order_by(university.c.rating)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_id, university.univ_name, university.rating, university.city
FROM university
WHERE university.univ_id IN (SELECT lecturer.univ_id
FROM lecturer GROUP BY lecturer.univ_id
HAVING count(lecturer.lecturer_id) > :count_1) ORDER BY university.rating
1

[(10, 'ВГУ', 296, 'Воронеж')]

In [15]:
'''9 Напишите запрос для получения списка отличников (студентов, получивших
только отличные оценки), с последующей сортировкой по идентификаторам 
университетов и курсам. '''
sg = select(exam_marks.c.student_id).group_by(exam_marks.c.student_id).having(func.min(exam_marks.c.mark ) == 5)

s=select(student)
s=s.where(student.c.student_id.in_(sg))
s = s.order_by(student.c.univ_id, student.c.kurs)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.student_id IN (SELECT exam_marks.student_id
FROM exam_marks GROUP BY exam_marks.student_id
HAVING min(exam_marks.mark) = :min_1) ORDER BY student.univ_id, student.kurs
7

[(99, 'Борисова', 'Марина', 150, 1, 'Рославль', datetime.datetime(1995, 8, 7, 0, 0), 10),
 (10, 'Кузнецов', 'Борис', 0, 2, 'Брянск', datetime.datetime(2001, 12, 8, 0, 0), 10),
 (88, 'Жданова', 'Ирина', 200, 3, 'Тверь', datetime.datetime(2002, 3, 2, 0, 0), 10),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (92, 'Мельникова', 'Светлана', 250, 4, 'Кропоткин (Краснод.)', datetime.datetime(1998, 3, 24, 0, 0), 15),
 (91, 'Блохина', 'Ираида', 250, 3, 'Новый Уренгой', datetime.datetime(1997, 3, 23, 0, 0), 22),
 (82, 'Лапина', 'Элеонора', 150, 3, 'Джубга', datetime.datetime(1997, 11, 23, 0, 0), 45)]

In [16]:
'''10 Напишите запрос для получения списка неуспевающих студентов 
(получивших хотя бы одну неудовлетворительную оценку), с последующей 
сортировкой по идентификаторам университетов и курсам. '''
sg = select(exam_marks.c.student_id).group_by(exam_marks.c.student_id).having(func.min(exam_marks.c.mark ) < 4)

s=select(student)
s=s.where(student.c.student_id.in_(sg))
s = s.order_by(student.c.univ_id, student.c.kurs)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE student.student_id IN (SELECT exam_marks.student_id
FROM exam_marks GROUP BY exam_marks.student_id
HAVING min(exam_marks.mark) < :min_1) ORDER BY student.univ_id, student.kurs
22

[(1, 'Иванов', 'Иван', 150, 1, 'Орел', datetime.datetime(2002, 12, 3, 0, 0), 10),
 (12, 'Зайцева', 'Ольга', 250, 2, 'Липецк', datetime.datetime(2001, 5, 1, 0, 0), 10),
 (116, 'Федоров', 'Гостомысл', 100, 4, 'Новый Уренгой', datetime.datetime(2000, 11, 16, 0, 0), 10),
 (65, 'Сергеева', 'Фёкла', 100, 5, None, datetime.datetime(2000, 2, 19, 0, 0), 10),
 (76, 'Мельникова', 'Дарья', 100, 5, 'Архангельск', datetime.datetime(2002, 8, 1, 0, 0), 10),
 (123, 'Веселов', 'Тимур', 150, 1, 'Невинномысск', datetime.datetime(1998, 4, 28, 0, 0), 11),
 (126, 'Жуков', 'Пров', 0, 3, 'Кыштым', datetime.datetime(1998, 9, 11, 0, 0), 11),
 (103, 'Трофимов', 'Владислав', 250, 5, 'Верхоянск', datetime.datetime(1995, 3, 24, 0, 0), 11),
 (110, 'Суханов', 'Константин', 250, 3, 'Курск', datetime.datetime(1996, 11, 22, 0, 0), 14),
 (149, 'Вячеслав', 'Пахомов', 250, 3, 'Игарка', datetime.datetime(1997, 5, 14, 0, 0), 14),
 (203, 'Петрова', 'Екатерина', 250, 4, 'Белгород', datetime.datetime(2001, 5, 21, 0, 0), 14),
 (15, 'Ордуханян', 'Рафаэль', 120, 1, 'Липецк', datetime.datetime(2003, 6, 1, 0, 0), 18),
 (77, 'Мишина', 'Светлана', 150, 2, 'Рыльск', datetime.datetime(1997, 5, 22, 0, 0), 18),
 (71, 'Кондрат', 'Синицин', 200, 4, 'Ишим', datetime.datetime(2001, 2, 23, 0, 0), 18),
 (105, 'Антонов', 'Анатолий', 100, 1, 'Сыктывкар', datetime.datetime(1997, 4, 8, 0, 0), 22),
 (79, 'Афанасьева', 'Анжелика', 0, 2, 'Уфа', datetime.datetime(1996, 11, 22, 0, 0), 32),
 (85, 'Казакова', 'Мария', 150, 4, 'Нальчик', datetime.datetime(1994, 2, 18, 0, 0), 32),
 (73, 'Одинцова', 'Лидия', 100, 5, 'Верхний Баскунчак', datetime.datetime(2002, 3, 7, 0, 0), 44),
 (128, 'Васильев', 'Матвей', 100, 1, 'Чебоксары', datetime.datetime(2000, 7, 18, 0, 0), 46),
 (97, 'Вишнякова', 'Анжела', 200, 2, 'Иваново', datetime.datetime(2002, 2, 10, 0, 0), 46),
 (101, 'Калашников', 'Евгений', 200, 2, 'Калининград', datetime.datetime(1998, 2, 27, 0, 0), 48),
 (83, 'Сорокина', 'Ирина', 200, 3, 'Усмань', datetime.datetime(1993, 9, 28, 0, 0), 48)]

In [17]:
#Выполните задания в Jupyter Notebook на тему "Связанные подзапросы в Having".
'''1Напишите команду SELECT, использующую связанные подзапросы и выполняющую
вывод имен и идентификаторов студентов, у которых стипендия совпадает с 
максимальным значением стипендии для города, в котором живет студент. '''
st1 = student.alias('st1') # внешний
st2 = student.alias('st2') # внутренний

subq = select(func.max(st2.c.stipend))
subq = subq.where(st2.c.city == st1.c.city).scalar_subquery()

s = select(st1.c.student_id, st1.c.surname, st1.c.name, st1.c.city)
s = s.where(st1.c.stipend == subq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT st1.student_id, st1.surname, st1.name, st1.city
FROM student AS st1
WHERE st1.stipend = (SELECT max(st2.stipend) AS max_1
FROM student AS st2
WHERE st2.city = st1.city)
73

[(12, 'Зайцева', 'Ольга', 'Липецк'),
 (55, 'Белкин', 'Вадим', 'Воронеж'),
 (56, 'Дуб', 'Елизавета', 'Усть-Кут'),
 (57, 'Кудряшова', 'Вера', 'Нижневартовск'),
 (58, 'Журавлева', 'Вера', 'Новосибирск'),
 (60, 'Рожкова', 'Пелагея', 'Рубцовск'),
 (61, 'Соколова', 'Ия', 'Колпашево'),
 (62, 'Семенова', 'Вероника', 'Вологда'),
 (64, 'Жук', 'Оксана', 'Воркута'),
 (66, 'Некрасова', 'Вероника', 'Иркутск'),
 (68, 'Казакова', 'Ольга', 'Кемерово'),
 (69, 'Шубина', 'Елена', 'Камень-на-Оби'),
 (70, 'Миронова', 'Анна', 'Владикавказ'),
 (71, 'Кондрат', 'Синицин', 'Ишим'),
 (72, 'Пономарева', 'Алина', 'Ангарск'),
 (73, 'Одинцова', 'Лидия', 'Верхний Баскунчак'),
 (74, 'Гуляева', 'Рукижат', 'Невельск (Сахалин)'),
 (75, 'Игнатова', 'Зинаида', 'Ростов'),
 (76, 'Мельникова', 'Дарья', 'Архангельск'),
 (77, 'Мишина', 'Светлана', 'Рыльск'),
 (78, 'Агафонов', 'Василий', 'Грозный'),
 (79, 'Афанасьева', 'Анжелика', 'Уфа'),
 (80, 'Фролова', 'Василиса', 'Кисловодск'),
 (82, 'Лапина', 'Элеонора', 'Джубга'),
 (83, 'Сорокина', 'Ирина', 'Усмань'),
 (85, 'Казакова', 'Мария', 'Нальчик'),
 (86, 'Жукова', 'Фекла', 'Магадан'),
 (88, 'Жданова', 'Ирина', 'Тверь'),
 (89, 'Валерия', 'Овчинникова', 'Улан-Удэ'),
 (90, 'Костина', 'Кира', 'Устюжна'),
 (91, 'Блохина', 'Ираида', 'Новый Уренгой'),
 (92, 'Мельникова', 'Светлана', 'Кропоткин (Краснод.)'),
 (94, 'Васильева', 'Оксана', 'Кизилюрт'),
 (95, 'Сорокина', 'Валерия', 'Енисейск'),
 (97, 'Вишнякова', 'Анжела', 'Иваново'),
 (99, 'Борисова', 'Марина', 'Рославль'),
 (101, 'Калашников', 'Евгений', 'Калининград'),
 (103, 'Трофимов', 'Владислав', 'Верхоянск'),
 (104, 'Бирюков', 'Герасим', 'Жуковский'),
 (105, 'Антонов', 'Анатолий', 'Сыктывкар'),
 (107, 'Морозов', 'Кирилл', 'Кропоткин (Краснод.)'),
 (108, 'Назаров', 'Икром', 'Саянск'),
 (110, 'Суханов', 'Константин', 'Курск'),
 (112, 'Захаров', 'Софон', 'Мурманск'),
 (113, 'Аксенов', 'Валерий', 'Мурманск'),
 (114, 'Панов', 'Арсений', 'Геленджик'),
 (117, 'Лазарев', 'Константин', 'Славянск-на-Кубани'),
 (118, 'Кондратьев', 'Николай', 'Ханты-Мансийск'),
 (121, 'Воронова', 'Антонина', 'Усть-Джегута'),
 (123, 'Веселов', 'Тимур', 'Невинномысск'),
 (124, 'Юдин', 'Савва', 'Усинск'),
 (125, 'Пономарев', 'Варфоромей', 'Улан-Удэ'),
 (126, 'Жуков', 'Пров', 'Кыштым'),
 (128, 'Васильев', 'Матвей', 'Чебоксары'),
 (130, 'Кудряшов', 'Роман', 'Нижний Новгород'),
 (131, 'Ковалев', 'Ефим', 'Волгоград'),
 (133, 'Жуковский', 'Юрий', 'Сургут (Хант.)'),
 (135, 'Комаров', 'Ипат', 'Нерчинск'),
 (136, 'Ефимов', 'Яков', 'Тимашевск'),
 (137, 'Кулаков', 'Феофан', 'Волоколамск'),
 (139, 'Журавлев', 'Фома', 'Улан-Удэ'),
 (140, 'Ширяев', 'Андрей', 'Джубга'),
 (141, 'Ершов', 'Митрофан', 'Пятигорск'),
 (143, 'Бирюков', 'Мартин', 'Курганинск'),
 (146, 'Русаков', 'Давид', 'Байкальск'),
 (147, 'Симонов', 'Семен', 'Беломорск'),
 (148, 'Гуляев', 'Кузьма', 'Корсаков'),
 (149, 'Вячеслав', 'Пахомов', 'Игарка'),
 (200, 'Баранов', 'Александр', 'Москва'),
 (203, 'Петрова', 'Екатерина', 'Белгород'),
 (204, 'Петров', 'Вадим', 'Брянск'),
 (206, 'Киселев', 'Владимир', 'Орел'),
 (276, 'Петров', 'Антон', 'Ульяновск')]

In [18]:
'''2Напишите запрос, который позволяет вывести имена и идентификаторы всех 
студентов, о которых точно известно, что они проживают в городе, где нет 
ни одного университета. '''
sg=select(university.c.city).distinct(university.c.city)

s = select(student.c.name, student.c.student_id)
s=s.where(not_(student.c.city.in_(sg)))


print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.name, student.student_id
FROM student
WHERE student.city NOT IN (SELECT DISTINCT university.city
FROM university)
77

[('Иван', 1),
 ('Петр', 3),
 ('Борис', 10),
 ('Ольга', 12),
 ('Рафаэль', 15),
 ('Елизавета', 56),
 ('Вера', 57),
 ('Пелагея', 60),
 ('Ия', 61),
 ('Вероника', 62),
 ('Ирина', 63),
 ('Оксана', 64),
 ('Вероника', 66),
 ('Ольга', 68),
 ('Елена', 69),
 ('Анна', 70),
 ('Синицин', 71),
 ('Алина', 72),
 ('Лидия', 73),
 ('Рукижат', 74),
 ('Дарья', 76),
 ('Светлана', 77),
 ('Василий', 78),
 ('Анжелика', 79),
 ('Василиса', 80),
 ('Элеонора', 82),
 ('Ирина', 83),
 ('Мария', 85),
 ('Фекла', 86),
 ('Ирина', 88),
 ('Овчинникова', 89),
 ('Кира', 90),
 ('Ираида', 91),
 ('Светлана', 92),
 ('Оксана', 94),
 ('Валерия', 95),
 ('Анжела', 97),
 ('Марина', 99),
 ('Евгений', 101),
 ('Владислав', 103),
 ('Герасим', 104),
 ('Анатолий', 105),
 ('Кирилл', 107),
 ('Икром', 108),
 ('Константин', 110),
 ('Софон', 112),
 ('Валерий', 113),
 ('Арсений', 114),
 ('Гостомысл', 116),
 ('Константин', 117),
 ('Николай', 118),
 ('Антонина', 121),
 ('Тимур', 123),
 ('Савва', 124),
 ('Варфоромей', 125),
 ('Пров', 126),
 ('Матвей', 128),
 ('Роман', 130),
 ('Ефим', 131),
 ('Юрий', 133),
 ('Ипат', 135),
 ('Яков', 136),
 ('Феофан', 137),
 ('Фома', 139),
 ('Андрей', 140),
 ('Митрофан', 141),
 ('Мартин', 143),
 ('Викентий', 144),
 ('Давид', 146),
 ('Семен', 147),
 ('Кузьма', 148),
 ('Пахомов', 149),
 ('Андрей', 201),
 ('Анатолий', 202),
 ('Вадим', 204),
 ('Мария', 205),
 ('Владимир', 206)]

In [31]:
'''3.1 Напишите два запроса, которые позволяют вывести имена и идентификаторы 
всех студентов, о которых точно известно, что они проживают не в том городе,
где расположен их университет: один запрос с использованием связанного 
подзапроса, а другой с использованием соединения. '''
sq = select(university.c.city)
sq = sq.where(university.c.univ_id == student.c.univ_id).scalar_subquery()
subq1 = exists().where(and_(exam_marks.c.mark != None, exam_marks.c.student_id == student.c.student_id))

# Студенты, не имеющие оценок, кроме отличных
subq2 = ~exists().where(and_(exam_marks.c.mark >3, exam_marks.c.student_id == student.c.student_id))

sf = select(student.c.student_id)
sf = sf.where(subq1).where(subq2)
s = select(student.c.name, student.c.student_id)
s = s.where(and_(student.c.city != sq, student.c.student_id.in_(sf)))

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.name, student.student_id
FROM student
WHERE student.city != (SELECT university.city
FROM university
WHERE university.univ_id = student.univ_id) AND student.student_id IN (SELECT student.student_id
FROM student
WHERE (EXISTS (SELECT *
FROM exam_marks
WHERE exam_marks.mark IS NOT NULL AND exam_marks.student_id = student.student_id)) AND NOT (EXISTS (SELECT *
FROM exam_marks
WHERE exam_marks.mark > :mark_1 AND exam_marks.student_id = student.student_id)))
17

[('Иван', 1),
 ('Рафаэль', 15),
 ('Синицин', 71),
 ('Лидия', 73),
 ('Дарья', 76),
 ('Светлана', 77),
 ('Анжелика', 79),
 ('Ирина', 83),
 ('Анжела', 97),
 ('Евгений', 101),
 ('Владислав', 103),
 ('Анатолий', 105),
 ('Константин', 110),
 ('Гостомысл', 116),
 ('Тимур', 123),
 ('Пров', 126),
 ('Пахомов', 149)]

In [20]:
'''3.2 Напишите два запроса, которые позволяют вывести имена и идентификаторы 
всех студентов, о которых точно известно, что они проживают не в том городе,
где расположен их университет: один запрос с использованием связанного 
подзапроса, а другой с использованием соединения. '''

s = select(student.c.name, student.c.student_id)
s = s.where(and_(student.c.city != university.c.city, university.c.univ_id == student.c.univ_id))

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.name, student.student_id
FROM student, university
WHERE student.city != university.city AND university.univ_id = student.univ_id
79

[('Иван', 1),
 ('Петр', 3),
 ('Борис', 10),
 ('Ольга', 12),
 ('Рафаэль', 15),
 ('Елизавета', 56),
 ('Вера', 57),
 ('Пелагея', 60),
 ('Ия', 61),
 ('Вероника', 62),
 ('Ирина', 63),
 ('Оксана', 64),
 ('Вероника', 66),
 ('Ольга', 68),
 ('Елена', 69),
 ('Анна', 70),
 ('Синицин', 71),
 ('Алина', 72),
 ('Лидия', 73),
 ('Рукижат', 74),
 ('Зинаида', 75),
 ('Дарья', 76),
 ('Светлана', 77),
 ('Василий', 78),
 ('Анжелика', 79),
 ('Василиса', 80),
 ('Элеонора', 82),
 ('Ирина', 83),
 ('Мария', 85),
 ('Фекла', 86),
 ('Ирина', 88),
 ('Овчинникова', 89),
 ('Кира', 90),
 ('Ираида', 91),
 ('Светлана', 92),
 ('Оксана', 94),
 ('Валерия', 95),
 ('Анжела', 97),
 ('Марина', 99),
 ('Евгений', 101),
 ('Владислав', 103),
 ('Герасим', 104),
 ('Анатолий', 105),
 ('Кирилл', 107),
 ('Икром', 108),
 ('Константин', 110),
 ('Софон', 112),
 ('Валерий', 113),
 ('Арсений', 114),
 ('Гостомысл', 116),
 ('Константин', 117),
 ('Николай', 118),
 ('Антонина', 121),
 ('Тимур', 123),
 ('Савва', 124),
 ('Варфоромей', 125),
 ('Пров', 126),
 ('Матвей', 128),
 ('Роман', 130),
 ('Ефим', 131),
 ('Юрий', 133),
 ('Ипат', 135),
 ('Яков', 136),
 ('Феофан', 137),
 ('Фома', 139),
 ('Андрей', 140),
 ('Митрофан', 141),
 ('Мартин', 143),
 ('Викентий', 144),
 ('Давид', 146),
 ('Семен', 147),
 ('Кузьма', 148),
 ('Пахомов', 149),
 ('Андрей', 201),
 ('Анатолий', 202),
 ('Вадим', 204),
 ('Мария', 205),
 ('Владимир', 206),
 ('Антон', 276)]

In [21]:
sq = exists(university).where(university.c.univ_id == student.c.univ_id)
sq = sq.where(university.c.rating > 300)

s = select(student.c.name, student.c.surname, student.c.univ_id)
s = s.where(sq)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.name, student.surname, student.univ_id
FROM student
WHERE EXISTS (SELECT university.univ_id, university.univ_name, university.rating, university.city
FROM university
WHERE university.univ_id = student.univ_id AND university.rating > :rating_1)
63

[('Вадим', 'Сидоров', 22),
 ('Рафаэль', 'Ордуханян', 18),
 ('Павел', 'Котов', 14),
 ('Вера', 'Кудряшова', 14),
 ('Вера', 'Журавлева', 11),
 ('Ия', 'Соколова', 18),
 ('Ирина', 'Пак', 15),
 ('Ольга', 'Казакова', 44),
 ('Елена', 'Шубина', 45),
 ('Анна', 'Миронова', 46),
 ('Синицин', 'Кондрат', 18),
 ('Лидия', 'Одинцова', 44),
 ('Рукижат', 'Гуляева', 22),
 ('Зинаида', 'Игнатова', 22),
 ('Светлана', 'Мишина', 18),
 ('Анжелика', 'Афанасьева', 32),
 ('Василиса', 'Фролова', 44),
 ('Элеонора', 'Лапина', 45),
 ('Мария', 'Казакова', 32),
 ('Фекла', 'Жукова', 46),
 ('Овчинникова', 'Валерия', 18),
 ('Кира', 'Костина', 14),
 ('Ираида', 'Блохина', 22),
 ('Светлана', 'Мельникова', 15),
 ('Оксана', 'Васильева', 32),
 ('Валерия', 'Сорокина', 45),
 ('Фаина', 'Тимофеева', 45),
 ('Анжела', 'Вишнякова', 46),
 ('Владислав', 'Трофимов', 11),
 ('Герасим', 'Бирюков', 44),
 ('Анатолий', 'Антонов', 22),
 ('Кирилл', 'Морозов', 44),
 ('Константин', 'Суханов', 14),
 ('Софон', 'Захаров', 46),
 ('Арсений', 'Панов', 32),
 ('Николай', 'Кондратьев', 14),
 ('Антонина', 'Воронова', 46),
 ('Тимур', 'Веселов', 11),
 ('Савва', 'Юдин', 18),
 ('Варфоромей', 'Пономарев', 44),
 ('Пров', 'Жуков', 11),
 ('Матвей', 'Васильев', 46),
 ('Роман', 'Кудряшов', 32),
 ('Юрий', 'Жуковский', 22),
 ('Ипат', 'Комаров', 14),
 ('Яков', 'Ефимов', 32),
 ('Феофан', 'Кулаков', 46),
 ('Фома', 'Журавлев', 18),
 ('Андрей', 'Ширяев', 46),
 ('Митрофан', 'Ершов', 22),
 ('Викентий', 'Ситников', 46),
 ('Семен', 'Симонов', 22),
 ('Кузьма', 'Гуляев', 44),
 ('Пахомов', 'Вячеслав', 14),
 ('Александр', 'Баранов', 44),
 ('Андрей', 'Архипов', 22),
 ('Анатолий', 'Владимиров', 14),
 ('Екатерина', 'Петрова', 14),
 ('Вадим', 'Петров', 44),
 ('Мария', 'Иванова', 32),
 ('Владимир', 'Киселев', 44),
 ('Федор', 'Миронова', 45),
 ('Антон', 'Петров', 22)]

In [22]:


sg = select(subject.c.subj_id)
sg = sg.where(subject.c.semester==3)
sf=select(exam_marks.c.student_id).group_by(exam_marks.c.student_id).having(func.avg(exam_marks.c.mark)>3)
sf=sf.where(exam_marks.c.subj_id.in_(sg))
s = select(student.c.student_id, student.c.surname, student.c.name)
s = s.where(student.c.student_id.in_(sf))
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.name, student.surname, student.univ_id
FROM student, university
WHERE student.univ_id = university.univ_id AND university.rating > :rating_1
63

[('Вадим', 'Сидоров', 22),
 ('Рафаэль', 'Ордуханян', 18),
 ('Павел', 'Котов', 14),
 ('Вера', 'Кудряшова', 14),
 ('Вера', 'Журавлева', 11),
 ('Ия', 'Соколова', 18),
 ('Ирина', 'Пак', 15),
 ('Ольга', 'Казакова', 44),
 ('Елена', 'Шубина', 45),
 ('Анна', 'Миронова', 46),
 ('Синицин', 'Кондрат', 18),
 ('Лидия', 'Одинцова', 44),
 ('Рукижат', 'Гуляева', 22),
 ('Зинаида', 'Игнатова', 22),
 ('Светлана', 'Мишина', 18),
 ('Анжелика', 'Афанасьева', 32),
 ('Василиса', 'Фролова', 44),
 ('Элеонора', 'Лапина', 45),
 ('Мария', 'Казакова', 32),
 ('Фекла', 'Жукова', 46),
 ('Овчинникова', 'Валерия', 18),
 ('Кира', 'Костина', 14),
 ('Ираида', 'Блохина', 22),
 ('Светлана', 'Мельникова', 15),
 ('Оксана', 'Васильева', 32),
 ('Валерия', 'Сорокина', 45),
 ('Фаина', 'Тимофеева', 45),
 ('Анжела', 'Вишнякова', 46),
 ('Владислав', 'Трофимов', 11),
 ('Герасим', 'Бирюков', 44),
 ('Анатолий', 'Антонов', 22),
 ('Кирилл', 'Морозов', 44),
 ('Константин', 'Суханов', 14),
 ('Софон', 'Захаров', 46),
 ('Арсений', 'Панов', 32),
 ('Николай', 'Кондратьев', 14),
 ('Антонина', 'Воронова', 46),
 ('Тимур', 'Веселов', 11),
 ('Савва', 'Юдин', 18),
 ('Варфоромей', 'Пономарев', 44),
 ('Пров', 'Жуков', 11),
 ('Матвей', 'Васильев', 46),
 ('Роман', 'Кудряшов', 32),
 ('Юрий', 'Жуковский', 22),
 ('Ипат', 'Комаров', 14),
 ('Яков', 'Ефимов', 32),
 ('Феофан', 'Кулаков', 46),
 ('Фома', 'Журавлев', 18),
 ('Андрей', 'Ширяев', 46),
 ('Митрофан', 'Ершов', 22),
 ('Викентий', 'Ситников', 46),
 ('Семен', 'Симонов', 22),
 ('Кузьма', 'Гуляев', 44),
 ('Пахомов', 'Вячеслав', 14),
 ('Александр', 'Баранов', 44),
 ('Андрей', 'Архипов', 22),
 ('Анатолий', 'Владимиров', 14),
 ('Екатерина', 'Петрова', 14),
 ('Вадим', 'Петров', 44),
 ('Мария', 'Иванова', 32),
 ('Владимир', 'Киселев', 44),
 ('Федор', 'Миронова', 45),
 ('Антон', 'Петров', 22)]

In [23]:
'''3Напишите запрос с EXISTS, выбирающий сведения о каждом студенте, для 
которого в городе его проживания имеется хотя бы один университет, в котором
он не учится. '''
s = select(student)
s = s.where(exists().where(and_(university.c.city==student.c.city, university.c.univ_id!=student.c.univ_id)))

sg = select(func.avg(exam_marks.c.mark)).group_by(exam_marks.c.subj_id)#.having(exam_marks.c.mark<func.avg(exam_marks.c.mark))
sg = sg.where(exam_marks.c.subj_id==10).scalar_subquery()
'''sm = select(exam_marks.c.student_id)#.group_by(exam_marks.c.subj_id)#.having(exam_marks.c.mark<func.avg(exam_marks.c.mark))
sm = sm.where(andexam_marks.c.subj_id==10)'''
s = select(student.c.name, student.c.surname, exam_marks.c.mark)
s = s.where(and_(exam_marks.c.subj_id==10,exam_marks.c.mark<sg, exam_marks.c.student_id==student.c.student_id))
s = s.where(and_(exam_marks.c.subj_id==10, exam_marks.c.student_id==student.c.student_id))
s = s.where(student.c.student_id.in_(sg))
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE EXISTS (SELECT *
FROM university
WHERE university.city = student.city AND university.univ_id != student.univ_id)
8

[(6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (200, 'Баранов', 'Александр', 220, 2, 'Москва', datetime.datetime(2001, 8, 18, 0, 0), 44),
 (207, 'Миронова', 'Федор', 200, 3, 'Москва', datetime.datetime(2002, 4, 15, 0, 0), 45),
 (265, 'Павлов', 'Андрей', 0, 3, 'Воронеж', datetime.datetime(2000, 11, 5, 0, 0), 10),
 (276, 'Петров', 'Антон', 200, 4, 'Ульяновск', datetime.datetime(2001, 8, 5, 0, 0), 22),
 (654, 'Лукин', 'Артем', 200, 3, 'Воронеж', datetime.datetime(2001, 12, 1, 0, 0), 10)]

In [24]:
'''4Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях 
предметов обучения, экзамены по которым сданы более чем одним студентом. '''
em = exam_marks.alias('em')
su = subject.alias('su')

subq = select(func.count(em.c.student_id))
subq = subq.where(su.c.subj_id == em.c.subj_id).scalar_subquery()

s = select(distinct(su.c.subj_id), su.c.subj_name)
s = s.where(subq > 1)

print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT su.subj_id, su.subj_name
FROM subject AS su
WHERE (SELECT count(em.student_id) AS count_1
FROM exam_marks AS em
WHERE su.subj_id = em.subj_id) > :param_1
9

[(12, 'Анализ данных'),
 (94, 'Английский язык'),
 (10, 'Информатика'),
 (56, 'История'),
 (43, 'Математика'),
 (13, 'ОБЖ'),
 (11, 'Программирование на языках Python и SQL'),
 (22, 'Физика'),
 (73, 'Физкультура')]

In [25]:
'''4Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях 
предметов обучения, экзамены по которым сданы более чем одним студентом. '''
s = select(subject.c.subj_name)
s = s.where(exists().where(and_(exam_marks.c.subj_id==subject.c.subj_id, exam_marks.c.mark!= None)))
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT subject.subj_name
FROM subject
WHERE EXISTS (SELECT *
FROM exam_marks
WHERE exam_marks.subj_id = subject.subj_id AND exam_marks.mark IS NOT NULL)
9

[('Информатика',),
 ('Программирование на языках Python и SQL',),
 ('Анализ данных',),
 ('ОБЖ',),
 ('Физика',),
 ('Математика',),
 ('История',),
 ('Физкультура',),
 ('Английский язык',)]

In [26]:
'''5Напишите запрос для получения списка городов проживания студентов, в 
которых есть хотя бы один университет. '''
sub = select(university.c.city)

s = select(distinct(student.c.city)).filter(student.c.city.in_(sub))
print(s)

result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT student.city
FROM student
WHERE student.city IN (SELECT university.city
FROM university)
6

[('Москва',),
 ('Белгород',),
 ('Воронеж',),
 ('Новосибирск',),
 ('Ростов',),
 ('Ульяновск',)]