<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:160%;text-align:center">Семинар 6.1. Соединение таблиц с помощью оператора LEFT OUTER JOIN</p> 

<a id = Home></a>

**21 апреля 2022 года, чт**<br>
5-я пара, 15:40 - 17:10<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


**25 апреля 2022 года, пн**<br>
2-я пара, 10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

3-я пара, 11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)


**28 апреля 2022 года, чт**<br>
6-я пара, 17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

In [2]:
#! pip install sqlalchemy

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists

In [2]:
engine = create_engine('sqlite:///Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [3]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [4]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с идентификаторами сданных ими предметов обучения. Отсортируйте результат по фамилии студента.

2. Напишите запрос, который выполняет выборку фамилий всех студентов, с указанием для студентов, сдававших экзамены, идентификаторов предметов обучения. Отсортируйте результат по фамилии студента.

3. Напишите запрос, который выполняет вывод фамилий студентов, сдавших экзамены, вместе с наименованиями каждого сданного ими предмета обучения. Отсортируйте результат по фамилии студента.

4. Напишите запрос на выдачу списка всех студентов. Для студентов, сдававших экзамены, укажите названия соответствующих предметов обучения. Отсортируйте результат по фамилии студента.

5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов, названия предметов и оценка. Отсортируйте результат по фамилии студента.

6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, превышающим 300, вместе со значением максимального размера стипендии, получаемой студентами в этих университетах. Результат должен содержать название университета, значение рейтинга, значение макисмальной стипендии. Отсортируйте по значению максимальной стипендии.

7. Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) вместе со значением рейтинга университета, где каждый из них учится, включив в список и тех студентов, место учебы которых в базе данных не указано.

8. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, в них обучающихся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением. Выполните такой отдельный запрос двумя способами: с помощью оператора EXISTS() и без.

9. Напишите запрос для получения списка всех студентов вместе с названиями университетов, в которых они учатся. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей, в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем, который был бы получен внутренним соединением.

13. Напишите запрос для получения списка всех экзаменационных оценок вместе с фамилиями получивших их студентов. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

15. Напишите запрос для получения полного списка оценок вместе с названиями предметов, по которым они получены. Есть ли отличие списка от того, который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.

# Решение

In [5]:
st = student.alias('st')
em = exam_marks.alias('em')
u = university.alias('u')
l = lecturer.alias('l')
sl = subj_lect.alias('sl')
su = subject.alias('su')

In [9]:
""" 1.Напишите запрос, который выполняет вывод фамилий студентов, 
сдавших экзамены, вместе с идентификаторами сданных ими предметов обучения. 
Отсортируйте результат по фамилии студента."""

s = select(st.c.surname, em.c.exam_id)
s = s.join_from(st, em)
s = s.where(em.c.mark>2)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, em.exam_id
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id
WHERE em.mark > :mark_1 ORDER BY st.surname
26

[('Антонов', 22),
 ('Белкин', 75),
 ('Блохина', 9),
 ('Борисова', 17),
 ('Васильев', 19),
 ('Васильев', 27),
 ('Жданова', 12),
 ('Жук', 3),
 ('Зайцева', 238),
 ('Казакова', 2)]

In [11]:
"""
2. Напишите запрос, который выполняет выборку фамилий всех студентов, 
с указанием для студентов, сдававших экзамены, идентификаторов предметов обучения. 
Отсортируйте результат по фамилии студента.
"""

s = select(st.c.surname, em.c.exam_id)
s = s.join_from(st, em, isouter=True)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, em.exam_id
FROM student AS st LEFT OUTER JOIN exam_marks AS em ON st.student_id = em.student_id ORDER BY st.surname
100

[('Агафонов', None),
 ('Аксенов', None),
 ('Антонов', 22),
 ('Архипов', None),
 ('Афанасьева', 7),
 ('Баранов', None),
 ('Белкин', 75),
 ('Белкин', 639),
 ('Бирюков', None),
 ('Бирюков', None)]

In [13]:
"""
3. Напишите запрос, который выполняет вывод фамилий студентов, 
сдавших экзамены, вместе с наименованиями каждого сданного ими предмета обучения.
Отсортируйте результат по фамилии студента.
"""
s = select(st.c.surname, su.c.subj_name)
s = s.join_from(st, em).join(su)
s = s.where(em.c.mark>2)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id JOIN subject AS su ON su.subj_id = em.subj_id
WHERE em.mark > :mark_1 ORDER BY st.surname
26

[('Антонов', 'Информатика'),
 ('Белкин', 'Информатика'),
 ('Блохина', 'Физика'),
 ('Борисова', 'Английский язык'),
 ('Васильев', 'Физкультура'),
 ('Васильев', 'ОБЖ'),
 ('Жданова', 'История'),
 ('Жук', 'Физкультура'),
 ('Зайцева', 'Информатика'),
 ('Казакова', 'Физкультура')]

In [15]:
"""
4. Напишите запрос на выдачу списка всех студентов.
Для студентов, сдававших экзамены, укажите названия соответствующих предметов обучения.
Отсортируйте результат по фамилии студента
"""

s = select(st.c.surname, su.c.subj_name)
s = s.join_from(st, em, isouter=True).join(su, isouter=True)
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name
FROM student AS st LEFT OUTER JOIN exam_marks AS em ON st.student_id = em.student_id LEFT OUTER JOIN subject AS su ON su.subj_id = em.subj_id ORDER BY st.surname
100

[('Агафонов', None),
 ('Аксенов', None),
 ('Антонов', 'Информатика'),
 ('Архипов', None),
 ('Афанасьева', 'Анализ данных'),
 ('Баранов', None),
 ('Белкин', 'Информатика'),
 ('Белкин', 'Информатика'),
 ('Бирюков', None),
 ('Бирюков', None)]

In [17]:
"""
5. Напишите запрос на выдачу названий всех предметов, по которым студенты получили
только хорошие (4 и 5) оценки. В выходных данных должны быть приведены фамилии студентов,
названия предметов и оценка. Отсортируйте результат по фамилии студента.
"""

s = select(st.c.surname, su.c.subj_name, em.c.mark)
s = s.select_from(st).join(em).join(su)
s = s.where(em.c.mark.in_([4, 5]))
s = s.order_by(st.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT st.surname, su.subj_name, em.mark
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id JOIN subject AS su ON su.subj_id = em.subj_id
WHERE em.mark IN ([POSTCOMPILE_mark_1]) ORDER BY st.surname
20

[('Белкин', 'Информатика', 5),
 ('Блохина', 'Физика', 5),
 ('Борисова', 'Английский язык', 5),
 ('Васильев', 'ОБЖ', 5),
 ('Жданова', 'История', 5),
 ('Жук', 'Физкультура', 4),
 ('Зайцева', 'Информатика', 5),
 ('Казакова', 'Физкультура', 4),
 ('Костина', 'Физика', 4),
 ('Котов', 'Информатика', 4)]

In [21]:
"""
6. Напишите запрос, который выполняет вывод списка университетов с рейтингом, 
превышающим 300, вместе со значением максимального размера стипендии, 
получаемой студентами в этих университетах. Результат должен содержать 
название университета, значение рейтинга, значение макисмальной стипендии. 
Отсортируйте по значению максимальной стипендии.
"""

s = select(university.c.univ_name, university.c.rating, func.max(student.c.stipend))

s = s.join(student)
s = s.group_by(university.c.univ_name)
s = s.where(and_(university.c.rating > 300,student.c.stipend != "None"))
s = s.order_by(func.max(student.c.stipend))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, university.rating, max(student.stipend) AS max_1
FROM university JOIN student ON university.univ_id = student.univ_id
WHERE university.rating > :rating_1 AND student.stipend != :stipend_1 GROUP BY university.univ_name ORDER BY max(student.stipend)
9

[('ВГМА', 327, 200),
 ('МГТУ им. Баумана', 372, 200),
 ('ФГБОУ "Политех"', 304, 200),
 ('БГУ', 326, 250),
 ('МГУ', 606, 250),
 ('НГУ', 345, 250),
 ('РГУ', 416, 250),
 ('ТГУ', 368, 250),
 ('ФинУ', 330, 250)]

In [23]:
"""
7.Напишите запрос на выдачу списка студентов (в алфавитном порядке фамилий) 
вместе со значением рейтинга университета, где каждый из них учится, 
включив в список и тех студентов, место учебы которых в базе данных не указано.
"""

s = select(student.c.surname, student.c.name, university.c.univ_name, university.c.rating)

s = s.select_from(student)
s = s.join(university, isouter = True)
s = s.order_by(student.c.surname)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, university.univ_name, university.rating
FROM student LEFT OUTER JOIN university ON university.univ_id = student.univ_id ORDER BY student.surname
90

[('Агафонов', 'Василий', 'ВГУ', 296),
 ('Аксенов', 'Валерий', 'ВГУ', 296),
 ('Антонов', 'Анатолий', 'МГУ', 606),
 ('Архипов', 'Андрей', 'МГУ', 606),
 ('Афанасьева', 'Анжелика', 'РГУ', 416),
 ('Баранов', 'Александр', 'ФинУ', 330),
 ('Белкин', 'Вадим', 'ВГУ', 296),
 ('Бирюков', 'Герасим', 'ФинУ', 330),
 ('Бирюков', 'Мартин', 'КФУ', None),
 ('Блохина', 'Ираида', 'МГУ', 606)]

In [6]:
"""
8. Напишите запрос для получения списка всех университетов вместе с фамилиями студентов, 
в них обучающихся. Отдельным запросом получите записи, расширяющие данный список 
по сравнению с тем, который был бы получен внутренним соединением. 
Выполните такой отдельный запрос двумя способами: с помощью оператора EXISTS() и без.
"""

s = select(university.c.univ_name, student.c.surname)
s = s.outerjoin_from(university, student)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT university.univ_name, student.surname
FROM university LEFT OUTER JOIN student ON university.univ_id = student.univ_id
91

[('ВГУ', 'Агафонов'),
 ('ВГУ', 'Аксенов'),
 ('ВГУ', 'Белкин'),
 ('ВГУ', 'Борисова'),
 ('ВГУ', 'Жданова'),
 ('ВГУ', 'Зайцева'),
 ('ВГУ', 'Иванов'),
 ('ВГУ', 'Кузнецов'),
 ('ВГУ', 'Лукин'),
 ('ВГУ', 'Мельникова'),
 ('ВГУ', 'Некрасова'),
 ('ВГУ', 'Павлов'),
 ('ВГУ', 'Петров'),
 ('ВГУ', 'Семенова'),
 ('ВГУ', 'Сергеева'),
 ('ВГУ', 'Федоров'),
 ('НГУ', 'Веселов'),
 ('НГУ', 'Жуков'),
 ('НГУ', 'Журавлева'),
 ('НГУ', 'Трофимов'),
 ('МФТИ', None),
 ('БГУ', 'Владимиров'),
 ('БГУ', 'Вячеслав'),
 ('БГУ', 'Комаров'),
 ('БГУ', 'Кондратьев'),
 ('БГУ', 'Костина'),
 ('БГУ', 'Котов'),
 ('БГУ', 'Кудряшова'),
 ('БГУ', 'Петрова'),
 ('БГУ', 'Суханов'),
 ('ТГУ', 'Мельникова'),
 ('ТГУ', 'Пак'),
 ('ВГМА', 'Валерия'),
 ('ВГМА', 'Журавлев'),
 ('ВГМА', 'Кондрат'),
 ('ВГМА', 'Мишина'),
 ('ВГМА', 'Ордуханян'),
 ('ВГМА', 'Соколова'),
 ('ВГМА', 'Юдин'),
 ('МГУ', 'Антонов'),
 ('МГУ', 'Архипов'),
 ('МГУ', 'Блохина'),
 ('МГУ', 'Гуляева'),
 ('МГУ', 'Ершов'),
 ('МГУ', 'Жуковский'),
 ('МГУ', 'Игнатова'),
 ('МГУ', 'Петров'),
 ('МГУ', 'Сидоров'),
 ('МГУ', 'Симонов'),
 ('РГУ', 'Афанасьева'),
 ('РГУ', 'Васильева'),
 ('РГУ', 'Ефимов'),
 ('РГУ', 'Иванова'),
 ('РГУ', 'Казакова'),
 ('РГУ', 'Кудряшов'),
 ('РГУ', 'Панов'),
 ('ФинУ', 'Баранов'),
 ('ФинУ', 'Бирюков'),
 ('ФинУ', 'Гуляев'),
 ('ФинУ', 'Казакова'),
 ('ФинУ', 'Киселев'),
 ('ФинУ', 'Морозов'),
 ('ФинУ', 'Одинцова'),
 ('ФинУ', 'Петров'),
 ('ФинУ', 'Пономарев'),
 ('ФинУ', 'Фролова'),
 ('МГТУ им. Баумана', 'Лапина'),
 ('МГТУ им. Баумана', 'Миронова'),
 ('МГТУ им. Баумана', 'Сорокина'),
 ('МГТУ им. Баумана', 'Тимофеева'),
 ('МГТУ им. Баумана', 'Шубина'),
 ('ФГБОУ "Политех"', 'Васильев'),
 ('ФГБОУ "Политех"', 'Вишнякова'),
 ('ФГБОУ "Политех"', 'Воронова'),
 ('ФГБОУ "Политех"', 'Жукова'),
 ('ФГБОУ "Политех"', 'Захаров'),
 ('ФГБОУ "Политех"', 'Кулаков'),
 ('ФГБОУ "Политех"', 'Миронова'),
 ('ФГБОУ "Политех"', 'Ситников'),
 ('ФГБОУ "Политех"', 'Ширяев'),
 ('КФУ', 'Бирюков'),
 ('КФУ', 'Жук'),
 ('КФУ', 'Ковалев'),
 ('КФУ', 'Лазарев'),
 ('КФУ', 'Назаров'),
 ('КФУ', 'Русаков'),
 ('УЛГУ', 'Дуб'),
 ('УЛГУ', 'Калашников'),
 ('УЛГУ', 'Пономарева'),
 ('УЛГУ', 'Рожкова'),
 ('УЛГУ', 'Сорокина')]

In [7]:
"""
8 a
"""

university2 = university.alias("u2")
student2 = student.alias("st2")

subq = select(university2.c.univ_name, student2.c.surname)
subq = subq.join_from(university2, student2)
subq = subq.where(university2.c.univ_id == university.c.univ_id).exists()

s = select(university.c.univ_name, student.c.surname)
s = s.outerjoin_from(university, student)
s = s.where(~subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT university.univ_name, student.surname
FROM university LEFT OUTER JOIN student ON university.univ_id = student.univ_id
WHERE NOT (EXISTS (SELECT u2.univ_name, st2.surname
FROM university AS u2 JOIN student AS st2 ON u2.univ_id = st2.univ_id
WHERE u2.univ_id = university.univ_id))
1

[('МФТИ', None)]

In [8]:
"""
8 а (2 вариант)
"""

s = select(university.c.univ_name, student.c.surname)
s = s.outerjoin_from(university, student)
s = s.where(student.c.surname == None)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT university.univ_name, student.surname
FROM university LEFT OUTER JOIN student ON university.univ_id = student.univ_id
WHERE student.surname IS NULL
1

[('МФТИ', None)]

In [9]:
"""
9. Напишите запрос для получения списка всех студентов
вместе с названиями университетов, в которых они учатся.
Отдельным запросом получите записи, расширяющие данный список по сравнению с тем,
который был бы получен внутренним соединением.
"""

s = select(university.c.univ_name, student.c.surname)
s = s.outerjoin_from(student, university)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT university.univ_name, student.surname
FROM student LEFT OUTER JOIN university ON university.univ_id = student.univ_id
90

[('ВГУ', 'Иванов'),
 ('ВГУ', 'Петров'),
 ('МГУ', 'Сидоров'),
 ('ВГУ', 'Кузнецов'),
 ('ВГУ', 'Зайцева'),
 ('ВГМА', 'Ордуханян'),
 ('БГУ', 'Котов'),
 ('ВГУ', 'Белкин'),
 ('УЛГУ', 'Дуб'),
 ('БГУ', 'Кудряшова'),
 ('НГУ', 'Журавлева'),
 ('УЛГУ', 'Рожкова'),
 ('ВГМА', 'Соколова'),
 ('ВГУ', 'Семенова'),
 ('ТГУ', 'Пак'),
 ('КФУ', 'Жук'),
 ('ВГУ', 'Сергеева'),
 ('ВГУ', 'Некрасова'),
 ('ФинУ', 'Казакова'),
 ('МГТУ им. Баумана', 'Шубина'),
 ('ФГБОУ "Политех"', 'Миронова'),
 ('ВГМА', 'Кондрат'),
 ('УЛГУ', 'Пономарева'),
 ('ФинУ', 'Одинцова'),
 ('МГУ', 'Гуляева'),
 ('МГУ', 'Игнатова'),
 ('ВГУ', 'Мельникова'),
 ('ВГМА', 'Мишина'),
 ('ВГУ', 'Агафонов'),
 ('РГУ', 'Афанасьева'),
 ('ФинУ', 'Фролова'),
 ('МГТУ им. Баумана', 'Лапина'),
 ('УЛГУ', 'Сорокина'),
 ('РГУ', 'Казакова'),
 ('ФГБОУ "Политех"', 'Жукова'),
 ('ВГУ', 'Жданова'),
 ('ВГМА', 'Валерия'),
 ('БГУ', 'Костина'),
 ('МГУ', 'Блохина'),
 ('ТГУ', 'Мельникова'),
 ('РГУ', 'Васильева'),
 ('МГТУ им. Баумана', 'Сорокина'),
 ('МГТУ им. Баумана', 'Тимофеева'),
 ('ФГБОУ "Политех"', 'Вишнякова'),
 ('ВГУ', 'Борисова'),
 ('УЛГУ', 'Калашников'),
 ('НГУ', 'Трофимов'),
 ('ФинУ', 'Бирюков'),
 ('МГУ', 'Антонов'),
 ('ФинУ', 'Морозов'),
 ('КФУ', 'Назаров'),
 ('БГУ', 'Суханов'),
 ('ФГБОУ "Политех"', 'Захаров'),
 ('ВГУ', 'Аксенов'),
 ('РГУ', 'Панов'),
 ('ВГУ', 'Федоров'),
 ('КФУ', 'Лазарев'),
 ('БГУ', 'Кондратьев'),
 ('ФГБОУ "Политех"', 'Воронова'),
 ('НГУ', 'Веселов'),
 ('ВГМА', 'Юдин'),
 ('ФинУ', 'Пономарев'),
 ('НГУ', 'Жуков'),
 ('ФГБОУ "Политех"', 'Васильев'),
 ('РГУ', 'Кудряшов'),
 ('КФУ', 'Ковалев'),
 ('МГУ', 'Жуковский'),
 ('БГУ', 'Комаров'),
 ('РГУ', 'Ефимов'),
 ('ФГБОУ "Политех"', 'Кулаков'),
 ('ВГМА', 'Журавлев'),
 ('ФГБОУ "Политех"', 'Ширяев'),
 ('МГУ', 'Ершов'),
 ('КФУ', 'Бирюков'),
 ('ФГБОУ "Политех"', 'Ситников'),
 ('КФУ', 'Русаков'),
 ('МГУ', 'Симонов'),
 ('ФинУ', 'Гуляев'),
 ('БГУ', 'Вячеслав'),
 ('ФинУ', 'Баранов'),
 ('МГУ', 'Архипов'),
 ('БГУ', 'Владимиров'),
 ('БГУ', 'Петрова'),
 ('ФинУ', 'Петров'),
 ('РГУ', 'Иванова'),
 ('ФинУ', 'Киселев'),
 ('МГТУ им. Баумана', 'Миронова'),
 ('ВГУ', 'Павлов'),
 ('МГУ', 'Петров'),
 ('ВГУ', 'Лукин')]

In [11]:
"""
9 a
"""

s = select(university.c.univ_name, student.c.surname)
s = s.outerjoin_from(student, university)
s = s.where(university.c.univ_name == None)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:]

SELECT university.univ_name, student.surname
FROM student LEFT OUTER JOIN university ON university.univ_id = student.univ_id
WHERE university.univ_name IS NULL
0

[]

In [12]:
"""
10. Напишите запрос для получения списка всех университетов вместе с фамилиями преподавателей,
в них работающих. Отдельным запросом получите записи, расширяющие данный список по сравнению с тем,
который был бы получен внутренним соединением.
"""

s = select(university.c.univ_name, lecturer.c.surname)
s = s.outerjoin_from(university, lecturer)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(university.c.univ_name, lecturer.c.surname)
s2 = s2.outerjoin_from(university, lecturer)
s2 = s2.where(lecturer.c.surname == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT university.univ_name, lecturer.surname
FROM university LEFT OUTER JOIN lecturer ON university.univ_id = lecturer.univ_id
32
[('ВГУ', 'Алексеев'), ('ВГУ', 'Зайцева'), ('ВГУ', 'Зыкова'), ('ВГУ', 'Колесников'), ('ВГУ', 'Максимова'), ('ВГУ', 'Николаев'), ('ВГУ', 'Никонов'), ('ВГУ', 'Сорокин'), ('НГУ', 'Мамонтова'), ('МФТИ', None), ('БГУ', None), ('ТГУ', 'Беспалов'), ('ТГУ', 'Тихонов'), ('ВГМА', 'Артемьева'), ('ВГМА', 'Богданова'), ('ВГМА', 'Крюкова'), ('ВГМА', 'Сафонов'), ('ВГМА', 'Ситникова'), ('МГУ', 'Лагутин'), ('МГУ', 'Струков'), ('РГУ', 'Беляков'), ('РГУ', 'Дорофеев'), ('ФинУ', None), ('МГТУ им. Баумана', 'Волков'), ('ФГБОУ "Политех"', 'Зимин'), ('ФГБОУ "Политех"', 'Сафонова'), ('ФГБОУ "Политех"', 'Стрелков'), ('КФУ', 'Кудрявцева'), ('КФУ', 'Куликова'), ('УЛГУ', 'Брагина'), ('УЛГУ', 'Дмитриева'), ('УЛГУ', 'Елисеев')]
SELECT university.univ_name, lecturer.surname
FROM university LEFT OUTER JOIN lecturer ON university.univ_id = lecturer.univ_id
WHERE lecturer.surname IS NULL
3
[('МФТИ', None), ('БГУ', None), ('ФинУ', None)]

In [13]:
"""
11. Напишите запрос для получения списка всех преподавателей вместе с университетами, в которых они работают.
Есть ли отличие списка от того, который был бы получен внутренним соединением?
Подтвердите отдельным запросом ваш вывод.
"""

s = select(university.c.univ_name, lecturer.c.surname)
s = s.outerjoin_from(lecturer, university)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(university.c.univ_name, lecturer.c.surname)
s2 = s2.outerjoin_from(lecturer, university)
s2 = s2.where(university.c.univ_name == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT university.univ_name, lecturer.surname
FROM lecturer LEFT OUTER JOIN university ON university.univ_id = lecturer.univ_id
29
[('ФГБОУ "Политех"', 'Сафонова'), ('ВГУ', 'Зайцева'), ('НГУ', 'Мамонтова'), ('ВГМА', 'Богданова'), ('УЛГУ', 'Брагина'), ('ВГУ', 'Максимова'), ('УЛГУ', 'Дмитриева'), ('ВГМА', 'Ситникова'), ('ВГМА', 'Крюкова'), ('ВГМА', 'Артемьева'), ('КФУ', 'Куликова'), ('КФУ', 'Кудрявцева'), ('ВГУ', 'Зыкова'), ('ФГБОУ "Политех"', 'Стрелков'), ('РГУ', 'Дорофеев'), ('МГТУ им. Баумана', 'Волков'), ('ВГМА', 'Сафонов'), ('ФГБОУ "Политех"', 'Зимин'), ('ВГУ', 'Алексеев'), ('ТГУ', 'Тихонов'), ('УЛГУ', 'Елисеев'), ('ТГУ', 'Беспалов'), ('РГУ', 'Беляков'), ('ВГУ', 'Колесников'), ('ВГУ', 'Никонов'), ('МГУ', 'Лагутин'), ('МГУ', 'Струков'), ('ВГУ', 'Николаев'), ('ВГУ', 'Сорокин')]
SELECT university.univ_name, lecturer.surname
FROM lecturer LEFT OUTER JOIN university ON university.univ_id = lecturer.univ_id
WHERE university.univ_name IS NULL
0
[]

In [14]:
"""
12. Напишите запрос для получения списка всех студентов и оценок, полученных ими на экзаменах.
Отдельным запросом получите записи, расширяющие данный список по сравнению с тем,
который был бы получен внутренним соединением.
"""

s = select(student.c.surname, exam_marks.c.mark)
s = s.outerjoin_from(student, exam_marks)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(student.c.surname, exam_marks.c.mark)
s2 = s2.outerjoin_from(student, exam_marks)
s2 = s2.where(exam_marks.c.mark == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT student.surname, exam_marks.mark
FROM student LEFT OUTER JOIN exam_marks ON student.student_id = exam_marks.student_id
100
[('Иванов', 1), ('Петров', None), ('Сидоров', 4), ('Кузнецов', 5), ('Зайцева', 2), ('Зайцева', 5), ('Ордуханян', 2), ('Котов', 4), ('Белкин', None), ('Белкин', 5), ('Дуб', None), ('Кудряшова', None), ('Журавлева', None), ('Рожкова', None), ('Соколова', None), ('Семенова', 4), ('Пак', 3), ('Пак', 4), ('Пак', 5), ('Жук', 4), ('Сергеева', 1), ('Некрасова', None), ('Казакова', None), ('Шубина', None), ('Миронова', None), ('Кондрат', 3), ('Пономарева', None), ('Одинцова', 1), ('Гуляева', None), ('Игнатова', None), ('Мельникова', 2), ('Мельникова', 2), ('Мишина', 1), ('Агафонов', None), ('Афанасьева', 1), ('Фролова', None), ('Лапина', 5), ('Сорокина', 1), ('Казакова', 1), ('Казакова', 4), ('Жукова', None), ('Жданова', 5), ('Валерия', None), ('Костина', 4), ('Блохина', 5), ('Мельникова', 3), ('Мельникова', 4), ('Мельникова', 5), ('Васильева', None), ('Сорокина', None), ('Тимофеева', None), ('Вишнякова', 1), ('Борисова', 5), ('Калашников', 2), ('Калашников', 2), ('Трофимов', 2), ('Бирюков', None), ('Антонов', 3), ('Морозов', None), ('Назаров', None), ('Суханов', 1), ('Захаров', None), ('Аксенов', None), ('Панов', None), ('Федоров', 1), ('Лазарев', 4), ('Кондратьев', None), ('Воронова', None), ('Веселов', 2), ('Юдин', None), ('Пономарев', None), ('Жуков', 1), ('Васильев', 3), ('Васильев', 5), ('Кудряшов', None), ('Ковалев', None), ('Жуковский', None), ('Комаров', None), ('Ефимов', None), ('Кулаков', None), ('Журавлев', None), ('Ширяев', None), ('Ершов', None), ('Бирюков', None), ('Ситников', None), ('Русаков', None), ('Симонов', None), ('Гуляев', None), ('Вячеслав', 2), ('Баранов', None), ('Архипов', None), ('Владимиров', None), ('Петрова', 3), ('Петров', None), ('Иванова', None), ('Киселев', None), ('Миронова', None), ('Павлов', None), ('Петров', None), ('Лукин', 4)]
SELECT student.surname, exam_marks.mark
FROM student LEFT OUTER JOIN exam_marks ON student.student_id = exam_marks.student_id
WHERE exam_marks.mark IS NULL
54
[('Петров', None), ('Белкин', None), ('Дуб', None), ('Кудряшова', None), ('Журавлева', None), ('Рожкова', None), ('Соколова', None), ('Некрасова', None), ('Казакова', None), ('Шубина', None), ('Миронова', None), ('Пономарева', None), ('Гуляева', None), ('Игнатова', None), ('Агафонов', None), ('Фролова', None), ('Жукова', None), ('Валерия', None), ('Васильева', None), ('Сорокина', None), ('Тимофеева', None), ('Бирюков', None), ('Морозов', None), ('Назаров', None), ('Захаров', None), ('Аксенов', None), ('Панов', None), ('Кондратьев', None), ('Воронова', None), ('Юдин', None), ('Пономарев', None), ('Кудряшов', None), ('Ковалев', None), ('Жуковский', None), ('Комаров', None), ('Ефимов', None), ('Кулаков', None), ('Журавлев', None), ('Ширяев', None), ('Ершов', None), ('Бирюков', None), ('Ситников', None), ('Русаков', None), ('Симонов', None), ('Гуляев', None), ('Баранов', None), ('Архипов', None), ('Владимиров', None), ('Петров', None), ('Иванова', None), ('Киселев', None), ('Миронова', None), ('Павлов', None), ('Петров', None)]

In [15]:
"""
13. Напишите запрос для получения списка всех экзаменационных оценок вместе с
фамилиями получивших их студентов. Есть ли отличие списка от того,
который был бы получен внутренним соединением? Подтвердите отдельным запросом ваш вывод.
"""

s = select(student.c.surname, exam_marks.c.mark)
s = s.outerjoin_from(exam_marks, student)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(student.c.surname, exam_marks.c.mark)
s2 = s2.outerjoin_from(exam_marks, student)
s2 = s2.where(student.c.surname == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT student.surname, exam_marks.mark
FROM exam_marks LEFT OUTER JOIN student ON student.student_id = exam_marks.student_id
47
[('Вишнякова', 1), ('Казакова', 4), ('Жук', 4), ('Жуков', 1), ('Кондрат', 3), ('Лазарев', 4), ('Афанасьева', 1), ('Федоров', 1), ('Блохина', 5), ('Суханов', 1), ('Мельникова', 2), ('Жданова', 5), ('Мельникова', 2), ('Казакова', 1), ('Семенова', 4), ('Мельникова', 5), ('Борисова', 5), ('Калашников', 2), ('Васильев', 3), ('Петрова', 3), ('Веселов', 2), ('Антонов', 3), ('Костина', 4), ('Калашников', 2), ('Мишина', 1), ('Сорокина', 1), ('Васильев', 5), ('Кузнецов', 5), ('Иванов', 1), ('Лапина', 5), ('Одинцова', 1), ('Сергеева', 1), ('Трофимов', 2), ('Котов', 4), ('Сидоров', 4), ('Белкин', 5), ('Вячеслав', 2), ('Ордуханян', 2), ('Лукин', 4), ('Пак', 5), ('Пак', 4), ('Пак', 3), ('Мельникова', 4), ('Мельникова', 3), ('Зайцева', 2), ('Зайцева', 5), ('Белкин', None)]
SELECT student.surname, exam_marks.mark
FROM exam_marks LEFT OUTER JOIN student ON student.student_id = exam_marks.student_id
WHERE student.surname IS NULL
0
[]

In [17]:
"""
14. Напишите запрос для получения полного списка предметов с соответствующими экзаменационными оценками.
Есть ли отличие списка от того, который был бы получен внутренним соединением?
Подтвердите отдельным запросом ваш вывод.
"""

s = select(subject.c.subj_name, exam_marks.c.mark)
s = s.outerjoin_from(subject, exam_marks)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(subject.c.subj_name, exam_marks.c.mark)
s2 = s2.outerjoin_from(subject, exam_marks)
s2 = s2.where(exam_marks.c.mark == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT subject.subj_name, exam_marks.mark
FROM subject LEFT OUTER JOIN exam_marks ON subject.subj_id = exam_marks.subj_id
49
[('Анализ данных', 1), ('Анализ данных', 1), ('Анализ данных', 1), ('Анализ данных', 2), ('Анализ данных', 5), ('Английский язык', 2), ('Английский язык', 4), ('Английский язык', 4), ('Английский язык', 5), ('Информатика', None), ('Информатика', 1), ('Информатика', 2), ('Информатика', 2), ('Информатика', 3), ('Информатика', 3), ('Информатика', 4), ('Информатика', 5), ('Информатика', 5), ('Информатика', 5), ('История', 1), ('История', 2), ('История', 2), ('История', 3), ('История', 4), ('История', 5), ('История', 5), ('Математика', 1), ('Математика', 3), ('ОБЖ', 1), ('ОБЖ', 2), ('ОБЖ', 2), ('ОБЖ', 5), ('Обработка данных и моделирование в Excel', 4), ('Программирование на языках Python и SQL', 1), ('Программирование на языках Python и SQL', 4), ('Программирование на языках Python и SQL', 5), ('Теория вероятностей и математическая статистика', None), ('Физика', 1), ('Физика', 1), ('Физика', 2), ('Физика', 4), ('Физика', 4), ('Физика', 5), ('Физкультура', None), ('Физкультура', 1), ('Физкультура', 3), ('Физкультура', 3), ('Физкультура', 4), ('Физкультура', 4)]
SELECT subject.subj_name, exam_marks.mark
FROM subject LEFT OUTER JOIN exam_marks ON subject.subj_id = exam_marks.subj_id
WHERE exam_marks.mark IS NULL
3
[('Информатика', None), ('Теория вероятностей и математическая статистика', None), ('Физкультура', None)]

In [18]:
"""
15. Напишите запрос для получения полного списка оценок вместе с названиями предметов,
по которым они получены. Есть ли отличие списка от того, который был бы получен внутренним соединением?
Подтвердите отдельным запросом ваш вывод.
"""

s = select(subject.c.subj_name, exam_marks.c.mark)
s = s.outerjoin_from(exam_marks, subject)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
print(result)

s2 = select(subject.c.subj_name, exam_marks.c.mark)
s2 = s2.outerjoin_from(exam_marks, subject)
s2 = s2.where(subject.c.subj_name == None)

print(s2)
result2 = conn.execute(s2).fetchall()
print(len(result2))
print(result2)

SELECT subject.subj_name, exam_marks.mark
FROM exam_marks LEFT OUTER JOIN subject ON subject.subj_id = exam_marks.subj_id
47
[('Информатика', 1), ('Физкультура', 4), ('Физкультура', 4), ('История', 1), ('Информатика', 3), ('История', 4), ('Анализ данных', 1), ('Анализ данных', 1), ('Физика', 5), ('Физика', 1), ('История', 2), ('История', 5), ('Анализ данных', 2), ('ОБЖ', 1), ('Английский язык', 4), ('Информатика', 5), ('Английский язык', 5), ('Английский язык', 2), ('Физкультура', 3), ('Математика', 3), ('История', 2), ('Информатика', 3), ('Физика', 4), ('ОБЖ', 2), ('Анализ данных', 1), ('Физика', 1), ('ОБЖ', 5), ('Анализ данных', 5), ('Математика', 1), ('История', 5), ('Программирование на языках Python и SQL', 1), ('Физкультура', 1), ('Физика', 2), ('Информатика', 4), ('Физика', 4), ('Информатика', 5), ('ОБЖ', 2), ('Информатика', 2), ('Программирование на языках Python и SQL', 4), ('Программирование на языках Python и SQL', 5), ('Английский язык', 4), ('Физкультура', 3), ('Обработка данных и моделирование в Excel', 4), ('История', 3), ('Информатика', 2), ('Информатика', 5), ('Информатика', None)]
SELECT subject.subj_name, exam_marks.mark
FROM exam_marks LEFT OUTER JOIN subject ON subject.subj_id = exam_marks.subj_id
WHERE subject.subj_name IS NULL
0
[]