<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:160%;text-align:center">Семинар 6.2 (13). Оператор UNION</p> 

<a id = Home></a>

**5 мая 2022 года, чт**<br>
5-я пара, 15:40 - 17:10<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>

7-я пара, 18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


**16 мая 2022 года, пн**<br>
1-я пара, 8:30 - 10:00<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>

2-я пара, 10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)

<p style="font-size:150%;text-align:center">Литература</p>

- Астахова И.Ф., Мельников В.М., Толстобров А.П., Фертиков В.В. СУБД: язык SQL в примерах и задачах.—М.:ФИЗМАТЛИТ, 2009. — 168 с. — ISBN 978-5-9221-0816-4.
- Essential SQLAlchemy: Mapping Python to Databases 2nd Edition. Jason Myers, Rick Copeland. O'Reilly Media, Inc. 2015.
- Официальный сайт СУБД sqlite https://sqlite.org
- Официальный сайт библиотеки SQLAlchemy https://www.sqlalchemy.org/


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:60%">

<p style="font-size:150%">Оператор UNION</p>

Оператор UNION используется для объединения выходных данных двух или более SQL-запросов в единое множество строк и столбцов. Например, для того, чтобы получить в одной таблице фамилии и
идентификаторы студентов и преподавателей из Москвы, можно использовать следующий запрос:

```
SELECT 'Студент' AS 'Роль', surname, student_id AS id
FROM student
WHERE city = 'Москва'
UNION
SELECT 'Преподаватель', surname, lecturer_id
FROM lecturer
WHERE city = 'Москва';
```

Обратите внимание на то, что символом “;” (точка с запятой) оканчивается только последний запрос. Отсутствие этого символа в конце SELECT-запроса означает, что этот запрос, как и следующий за ним, является частью общего запроса с UNION.

Использование оператора UNION возможно только при объединении запросов, соответствующие столбцы которых совместимы по объединению. Совместимость по объединению означает, что столбцы, как минимум, должны относиться к одному типу. При этом если говорить о таких конкретных характеристиках типов, как, например, количество символов для полей символьного типа, размер и точность числовых полей, то возможность оператора UNION зависит от конкретной реализации СУБД. В одних системах задание оператора UNION требует полного совпадения характеристик типов столбцов, а в других возможно неявное приведение отличающихся характеристик.

<p style="font-size:150%">Управление дублированием строк при объединении</p>

В отличие от обычных запросов, UNION автоматически исключает из выходных данных дубликаты строк: например, в запросе

```
SELECT city
FROM student
UNION
SELECT city
FROM lecturer;
```

совпадающие наименования городов будут исключены. Если все же необходимо в каждом запросе вывести все строки независимо от того, имеются ли такие же строки в других объединяемых запросах, то следует использовать во множественном запросе конструкцию с оператором UNION ALL.

```
SELECT city
FROM student
UNION ALL
SELECT city
FROM lecturer;
```

Приведем еще один пример использования оператора UNION. Пусть необходимо составить отчет, содержащий для каждой даты сдачи экзаменов сведения по каждому студенту, получившему максимальную или минимальную оценку.

```
SELECT 'макс оц', A.student_id, surname, mark, date(exam_date)
FROM student A, exam_marks B
WHERE (A.student_id = B.student_id
AND B.mark =
(SELECT max(mark)
FROM exam_marks C
WHERE C.exam_date = B.exam_date))
UNION ALL
SELECT 'мин оц', A.student_id, surname, mark, date(exam_date)
FROM student A, exam_marks B
WHERE (A.student_id = B.student_id
AND B.mark =
(SELECT min(mark)
FROM exam_marks C
WHERE C.exam_date = B.exam_date));
```

<p style="font-size:150%">Упорядочивание результатов объединения</p>

Предложение ORDER BY применяется для упорядочения выходных данных объединения запросов так же, как и для отдельных запросов.

<p style="font-size:150%">Специальное использование объединения</p>

Часто полезна операция объединения двух запросов, в которой второй запрос выбирает строки, исключенные первым. Рассмотрим пример. Пусть в таблице STUDENT имеются записи о студентах без указания идентификатора университета. Требуется составить список студентов с указанием наименования университета для тех студентов, у которых эти данные есть, но при этом не отбрасывая и студентов, у которых университет не указан. Можно получить желаемые сведения, сформировав объединение двух запросов, один из которых выполняет выборку студентов с названиями их университетов,
а второй выбирает студентов с NULL-значениями в поле UNIV_ID. В данном случае оказывается полезной возможность вставки в запрос констант, в нашем случае текстовой константы ‘неизвестен’, чтобы
отметить в списке тех студентов, у которых отсутствует информация об университете.

```
SELECT surname, name, univ_name
FROM student, university
WHERE student.univ_id = university.univ_id
UNION
SELECT surname, name, ‘неизвестен’
FROM student
WHERE univ_id IS NULL
ORDER BY 1;
```

Для совместимости столбцов объединяемых запросов константу 'неизвестен' во втором запросе следует дополнить пробелами так, чтобы ее длина соответствовала длине поля UNIV_NAME или использовать для согласования типов функцию CAST. В некоторых СУБД согласование типов поля и замещающей его текстовой константы осуществляется автоматически.

In [9]:
#! pip install sqlalchemy

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text, desc
from sqlalchemy import union, union_all
from sqlalchemy.sql import func, distinct, exists

In [2]:
engine = create_engine('sqlite:///Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [3]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [4]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Создайте объединение двух запросов, которые выдают значения полей *univ_name*, *city*, *rating* для всех университетов. Те из них, у которых рейтинг равен или выше 300, должны иметь комментарий ‘высокий’, все остальные — ‘низкий’.

2. Напишите команду, которая выдает список фамилий студентов с комментарием: 'успевает' у студентов, имеющих все положительные оценки; 'не успевает' для сдававших экзамены, но имеющих хотя бы одну неудовлетворительную оценку; 'не сдавал' — для всех остальных. В выводимом результате фамилии студентов упорядочите по алфавиту.

3. Выведите объединенный список студентов и преподавателей, живущих в Москве, с соответствующими комментариями 'студент' или 'преподаватель'.

4. Выведите объединенный список студентов и преподавателей ВГУ с соответствующими комментариями 'студент' или 'преподаватель'.

5. Для каждого города выведите названия университетов с минимальным и максимальным для данного города рейтингом. Пометьте строки списка словами ‘min’ и ‘max’, поместив их в дополнительном столбце. Резулььтат должен содержать название города, название университета, рейтинг. Упорядочите результат по городу.

6. Для каждого курса выведите фамилии студентов, получающих минимальные и максимальные на их курсе стипендии. Пометьте строки списка словами ‘min’ и ‘max’, поместив их в дополнительном столбце.

7. Для каждого курса выведите фамилии самого старшего и самого младшего студентов. Пометьте строки списка словами 'младший' и 'старший', поместив их в дополнительном столбце.

8. Напишите запрос для получения полного списка университетов вместе с количеством студентов, которые в них учатся. Для университетов, не имеющих студентов, поместите в список фразу ‘Студентов нет’. отсортируйте результат по убыванию числа студентов.

9. Напишите запрос для получения полного списка университетов вместе с фамилиями преподавателей, в них работающих. Для университетов, не имеющих преподавателей, поместите в список фразу ‘Преподавателей нет’. результат должен содержать название университета, фамилию и имя преподавателя. отсортируйте результат по фамилии и имени преподавателя.

10. Выведите полный список студентов вместе с оценками, полученными ими на экзаменах. Для студентов, не сдававших экзамены, в поле оценки поместите 0.

# Решение

In [5]:
st = student.alias('st')
em = exam_marks.alias('em')
u = university.alias('u')
l = lecturer.alias('l')
sl = subj_lect.alias('sl')
su = subject.alias('su')

In [8]:
"""
1. Создайте объединение двух запросов, которые выдают значения полей *univ_name*, *city*, *rating*
для всех университетов. Те из них, у которых рейтинг равен или выше 300, должны иметь комментарий ‘высокий’,
все остальные — ‘низкий’.
"""

s1 = select([text("'Высокий' as 'Category'"), u.c.univ_name, u.c.city, u.c.rating])
s1 = s1.where(u.c.rating > 300)
s2 = select([text("'Низкий'"), u.c.univ_name, u.c.city, u.c.rating])
s2 = s2.where(u.c.rating <= 300) 

stmt = union(s1,s2)
print(stmt)

result = conn.execute(stmt).fetchall()
print(len(result))
result

SELECT 'Высокий' as 'Category', u.univ_name, u.city, u.rating
FROM university AS u
WHERE u.rating > :rating_1 UNION SELECT 'Низкий', u.univ_name, u.city, u.rating
FROM university AS u
WHERE u.rating <= :rating_2
12

[('Высокий', 'БГУ', 'Белгород', 326),
 ('Высокий', 'ВГМА', 'Воронеж', 327),
 ('Высокий', 'МГТУ им. Баумана', 'Москва', 372),
 ('Высокий', 'МГУ', 'Москва', 606),
 ('Высокий', 'МФТИ', 'Москва', 500),
 ('Высокий', 'НГУ', 'Новосибирск', 345),
 ('Высокий', 'РГУ', 'Ростов', 416),
 ('Высокий', 'ТГУ', 'Томск', 368),
 ('Высокий', 'ФГБОУ "Политех"', 'Санкт-Петербург', 304),
 ('Высокий', 'ФинУ', 'Москва', 330),
 ('Низкий', 'ВГУ', 'Воронеж', 296),
 ('Низкий', 'УЛГУ', 'Ульяновск', 231)]

In [11]:
"""
2. Напишите команду, которая выдает список фамилий студентов с комментарием: 'успевает' у студентов,
имеющих все положительные оценки; 'не успевает' для сдававших экзамены, но имеющих хотя бы одну
неудовлетворительную оценку; 'не сдавал' — для всех остальных.
В выводимом результате фамилии студентов упорядочите по алфавиту.
"""

subq1=select([em.c.exam_id])
subq1=subq1.where(em.c.student_id==st.c.student_id)
subq1=subq1.where(em.c.mark <4).exists()

subq2=select([em.c.exam_id])
subq2=subq2.where(em.c.student_id==st.c.student_id).exists()

s1 = select([text("'Успевает' as 'Category'"), st.c.surname, st.c.name]).distinct()
s1=s1.where(~subq1).where(subq2)

s2=select([text("'Не успевает'"), st.c.surname, st.c.name]).distinct()
s2=s2.join_from(st, em, st.c.student_id==em.c.student_id)
s2=s2.where(em.c.mark.in_([1,2]))

q = select([text("'Не сдавал'"), st.c.surname, st.c.name])
q = q.join_from(st, em, em.c.student_id==st.c.student_id, isouter=True)
q = q.where(em.c.student_id==None) 

stmt = union(s1,s2,q).order_by(st.c.surname)
print(stmt)

result = conn.execute(stmt).all()
print(len(result))
result

SELECT DISTINCT 'Успевает' as 'Category', st.surname, st.name
FROM student AS st
WHERE NOT (EXISTS (SELECT em.exam_id
FROM exam_marks AS em
WHERE em.student_id = st.student_id AND em.mark < :mark_1)) AND (EXISTS (SELECT em.exam_id
FROM exam_marks AS em
WHERE em.student_id = st.student_id)) UNION SELECT DISTINCT 'Не успевает', st.surname, st.name
FROM student AS st JOIN exam_marks AS em ON st.student_id = em.student_id
WHERE em.mark IN (__[POSTCOMPILE_mark_2]) UNION SELECT 'Не сдавал', st.surname, st.name
FROM student AS st LEFT OUTER JOIN exam_marks AS em ON em.student_id = st.student_id
WHERE em.student_id IS NULL ORDER BY surname
84

[('Не сдавал', 'Агафонов', 'Василий'),
 ('Не сдавал', 'Аксенов', 'Валерий'),
 ('Не сдавал', 'Архипов', 'Андрей'),
 ('Не успевает', 'Афанасьева', 'Анжелика'),
 ('Не сдавал', 'Баранов', 'Александр'),
 ('Успевает', 'Белкин', 'Вадим'),
 ('Не сдавал', 'Бирюков', 'Герасим'),
 ('Не сдавал', 'Бирюков', 'Мартин'),
 ('Успевает', 'Блохина', 'Ираида'),
 ('Успевает', 'Борисова', 'Марина'),
 ('Не сдавал', 'Валерия', 'Овчинникова'),
 ('Не сдавал', 'Васильева', 'Оксана'),
 ('Не успевает', 'Веселов', 'Тимур'),
 ('Не успевает', 'Вишнякова', 'Анжела'),
 ('Не сдавал', 'Владимиров', 'Анатолий'),
 ('Не сдавал', 'Воронова', 'Антонина'),
 ('Не успевает', 'Вячеслав', 'Пахомов'),
 ('Не сдавал', 'Гуляев', 'Кузьма'),
 ('Не сдавал', 'Гуляева', 'Рукижат'),
 ('Не сдавал', 'Дуб', 'Елизавета'),
 ('Не сдавал', 'Ершов', 'Митрофан'),
 ('Не сдавал', 'Ефимов', 'Яков'),
 ('Успевает', 'Жданова', 'Ирина'),
 ('Успевает', 'Жук', 'Оксана'),
 ('Не успевает', 'Жуков', 'Пров'),
 ('Не сдавал', 'Жукова', 'Фекла'),
 ('Не сдавал', 'Жуковский', 'Юрий'),
 ('Не сдавал', 'Журавлев', 'Фома'),
 ('Не сдавал', 'Журавлева', 'Вера'),
 ('Не успевает', 'Зайцева', 'Ольга'),
 ('Не сдавал', 'Захаров', 'Софон'),
 ('Не успевает', 'Иванов', 'Иван'),
 ('Не сдавал', 'Иванова', 'Мария'),
 ('Не сдавал', 'Игнатова', 'Зинаида'),
 ('Не сдавал', 'Казакова', 'Ольга'),
 ('Не успевает', 'Казакова', 'Мария'),
 ('Не успевает', 'Калашников', 'Евгений'),
 ('Не сдавал', 'Киселев', 'Владимир'),
 ('Не сдавал', 'Ковалев', 'Ефим'),
 ('Не сдавал', 'Комаров', 'Ипат'),
 ('Не сдавал', 'Кондратьев', 'Николай'),
 ('Успевает', 'Костина', 'Кира'),
 ('Успевает', 'Котов', 'Павел'),
 ('Не сдавал', 'Кудряшов', 'Роман'),
 ('Не сдавал', 'Кудряшова', 'Вера'),
 ('Успевает', 'Кузнецов', 'Борис'),
 ('Не сдавал', 'Кулаков', 'Феофан'),
 ('Успевает', 'Лазарев', 'Константин'),
 ('Успевает', 'Лапина', 'Элеонора'),
 ('Успевает', 'Лукин', 'Артем'),
 ('Не успевает', 'Мельникова', 'Дарья'),
 ('Не сдавал', 'Миронова', 'Анна'),
 ('Не сдавал', 'Миронова', 'Федор'),
 ('Не успевает', 'Мишина', 'Светлана'),
 ('Не сдавал', 'Морозов', 'Кирилл'),
 ('Не сдавал', 'Назаров', 'Икром'),
 ('Не сдавал', 'Некрасова', 'Вероника'),
 ('Не успевает', 'Одинцова', 'Лидия'),
 ('Не успевает', 'Ордуханян', 'Рафаэль'),
 ('Не сдавал', 'Павлов', 'Андрей'),
 ('Не сдавал', 'Панов', 'Арсений'),
 ('Не сдавал', 'Петров', 'Антон'),
 ('Не сдавал', 'Петров', 'Вадим'),
 ('Не сдавал', 'Петров', 'Петр'),
 ('Не сдавал', 'Пономарев', 'Варфоромей'),
 ('Не сдавал', 'Пономарева', 'Алина'),
 ('Не сдавал', 'Рожкова', 'Пелагея'),
 ('Не сдавал', 'Русаков', 'Давид'),
 ('Успевает', 'Семенова', 'Вероника'),
 ('Не успевает', 'Сергеева', 'Фёкла'),
 ('Успевает', 'Сидоров', 'Вадим'),
 ('Не сдавал', 'Симонов', 'Семен'),
 ('Не сдавал', 'Ситников', 'Викентий'),
 ('Не сдавал', 'Соколова', 'Ия'),
 ('Не сдавал', 'Сорокина', 'Валерия'),
 ('Не успевает', 'Сорокина', 'Ирина'),
 ('Не успевает', 'Суханов', 'Константин'),
 ('Не сдавал', 'Тимофеева', 'Фаина'),
 ('Не успевает', 'Трофимов', 'Владислав'),
 ('Не успевает', 'Федоров', 'Гостомысл'),
 ('Не сдавал', 'Фролова', 'Василиса'),
 ('Не сдавал', 'Ширяев', 'Андрей'),
 ('Не сдавал', 'Шубина', 'Елена'),
 ('Не сдавал', 'Юдин', 'Савва')]

In [12]:
"""
3. Выведите объединенный список студентов и преподавателей, живущих в Москве,
с соответствующими комментариями 'студент' или 'преподаватель'.
"""

s1 = select([text("'Студент' as 'Category'"), st.c.surname, st.c.name])
s1 = s1.where(st.c.city == 'Москва')
s2 = select([text("'Преподаватель' as 'Category'"), l.c.surname, l.c.name])
s2 = s2.where(l.c.city == 'Москва') 

stmt = union(s1,s2)
print(stmt)

result = conn.execute(stmt).fetchall()
print(len(result))
result

SELECT 'Студент' as 'Category', st.surname, st.name
FROM student AS st
WHERE st.city = :city_1 UNION SELECT 'Преподаватель' as 'Category', l.surname, l.name
FROM lecturer AS l
WHERE l.city = :city_2
5

[('Преподаватель', 'Лагутин', 'Павел'),
 ('Преподаватель', 'Струков', 'Николай'),
 ('Студент', 'Баранов', 'Александр'),
 ('Студент', 'Миронова', 'Федор'),
 ('Студент', 'Сидоров', 'Вадим')]

In [13]:
"""
4. Выведите объединенный список студентов и преподавателей ВГУ с
соответствующими комментариями 'студент' или 'преподаватель'.
"""

subq = select([u.c.univ_id])
subq = subq.where(u.c.univ_name == "ВГУ")

s1 = select([text("'Студент' as 'Category'"), st.c.surname, st.c.name, st.c.univ_id])
s1 = s1.where(st.c.univ_id == subq)

s2 = select([text("'Преподаватель' as 'Category'"), l.c.surname, l.c.name, l.c.univ_id])
s2 = s2.where(l.c.univ_id == subq)
stmt = union(s1,s2)

result = conn.execute(stmt).fetchall()
print(len(result))
result

24

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\1950266744.py:10: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  s1 = s1.where(st.c.univ_id == subq)
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\1950266744.py:13: SAWarning: implicitly coercing SELECT object to scalar subquery; please use the .scalar_subquery() method to produce a scalar subquery.
  s2 = s2.where(l.c.univ_id == subq)

[('Преподаватель', 'Алексеев', 'Елисей', 10),
 ('Преподаватель', 'Зайцева', 'Юлия', 10),
 ('Преподаватель', 'Зыкова', 'Оксана', 10),
 ('Преподаватель', 'Колесников', 'Борис', 10),
 ('Преподаватель', 'Максимова', 'Иванна', 10),
 ('Преподаватель', 'Николаев', 'Виктор', 10),
 ('Преподаватель', 'Никонов', 'Иван', 10),
 ('Преподаватель', 'Сорокин', 'Андрей', 10),
 ('Студент', 'Агафонов', 'Василий', 10),
 ('Студент', 'Аксенов', 'Валерий', 10),
 ('Студент', 'Белкин', 'Вадим', 10),
 ('Студент', 'Борисова', 'Марина', 10),
 ('Студент', 'Жданова', 'Ирина', 10),
 ('Студент', 'Зайцева', 'Ольга', 10),
 ('Студент', 'Иванов', 'Иван', 10),
 ('Студент', 'Кузнецов', 'Борис', 10),
 ('Студент', 'Лукин', 'Артем', 10),
 ('Студент', 'Мельникова', 'Дарья', 10),
 ('Студент', 'Некрасова', 'Вероника', 10),
 ('Студент', 'Павлов', 'Андрей', 10),
 ('Студент', 'Петров', 'Петр', 10),
 ('Студент', 'Семенова', 'Вероника', 10),
 ('Студент', 'Сергеева', 'Фёкла', 10),
 ('Студент', 'Федоров', 'Гостомысл', 10)]

In [15]:
"""
5. Для каждого города выведите названия университетов с минимальным и максимальным для данного города
рейтингом. Пометьте строки списка словами ‘min’ и ‘max’, поместив их в дополнительном столбце.
Результат должен содержать название города, название университета, рейтинг.
Упорядочите результат по городу.
"""

u2 = university.alias('u2')

subq1=select([func.max(u2.c.rating)]).where(u2.c.city==u.c.city).as_scalar()
subq2=select([func.min(u2.c.rating)]).where(u2.c.city==u.c.city).as_scalar()

s1 = select([text("'max' as 'Category'"), u.c.city, u.c.univ_name, u.c.rating])
s1 = s1.where(u.c.rating== subq1)
s2 = select([text("'min' as 'Category'"), u.c.city, u.c.univ_name, u.c.rating])
s2 = s2.where(u.c.rating== subq2)

stmt = union(s1,s2)
print(stmt)

result = conn.execute(stmt).fetchall()
print(len(result))
result

SELECT 'max' as 'Category', u.city, u.univ_name, u.rating
FROM university AS u
WHERE u.rating = (SELECT max(u2.rating) AS max_1
FROM university AS u2
WHERE u2.city = u.city) UNION SELECT 'min' as 'Category', u.city, u.univ_name, u.rating
FROM university AS u
WHERE u.rating = (SELECT min(u2.rating) AS min_1
FROM university AS u2
WHERE u2.city = u.city)
16

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\401631052.py:10: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq1=select([func.max(u2.c.rating)]).where(u2.c.city==u.c.city).as_scalar()
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\401631052.py:11: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq2=select([func.min(u2.c.rating)]).where(u2.c.city==u.c.city).as_scalar()

[('max', 'Белгород', 'БГУ', 326),
 ('max', 'Воронеж', 'ВГМА', 327),
 ('max', 'Москва', 'МГУ', 606),
 ('max', 'Новосибирск', 'НГУ', 345),
 ('max', 'Ростов', 'РГУ', 416),
 ('max', 'Санкт-Петербург', 'ФГБОУ "Политех"', 304),
 ('max', 'Томск', 'ТГУ', 368),
 ('max', 'Ульяновск', 'УЛГУ', 231),
 ('min', 'Белгород', 'БГУ', 326),
 ('min', 'Воронеж', 'ВГУ', 296),
 ('min', 'Москва', 'ФинУ', 330),
 ('min', 'Новосибирск', 'НГУ', 345),
 ('min', 'Ростов', 'РГУ', 416),
 ('min', 'Санкт-Петербург', 'ФГБОУ "Политех"', 304),
 ('min', 'Томск', 'ТГУ', 368),
 ('min', 'Ульяновск', 'УЛГУ', 231)]

In [16]:
"""
6. Для каждого курса выведите фамилии студентов, получающих минимальные и максимальные на их курсе стипендии.
Пометьте строки списка словами ‘min’ и ‘max’, поместив их в дополнительном столбце.
"""

st2=student.alias('st2')

subq1=select([func.max(st2.c.stipend)]).where(st2.c.kurs==st.c.kurs).as_scalar()
subq2=select([func.min(st2.c.stipend)]).where(st2.c.kurs==st.c.kurs).as_scalar()

s1 = select([text("'max' as 'Category'"),st.c.surname, st.c.stipend])
s1 = s1.where(st.c.stipend== subq1)
s2 = select([text("'min' as 'Category'"), st.c.surname, st.c.stipend])
s2 = s2.where(st.c.stipend== subq2)

stmt = union(s1,s2)
print(stmt)

result = conn.execute(stmt).fetchall()
print(len(result))
result

SELECT 'max' as 'Category', st.surname, st.stipend
FROM student AS st
WHERE st.stipend = (SELECT max(st2.stipend) AS max_1
FROM student AS st2
WHERE st2.kurs = st.kurs) UNION SELECT 'min' as 'Category', st.surname, st.stipend
FROM student AS st
WHERE st.stipend = (SELECT min(st2.stipend) AS min_1
FROM student AS st2
WHERE st2.kurs = st.kurs)
39

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\1201597452.py:8: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq1=select([func.max(st2.c.stipend)]).where(st2.c.kurs==st.c.kurs).as_scalar()
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\1201597452.py:9: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq2=select([func.min(st2.c.stipend)]).where(st2.c.kurs==st.c.kurs).as_scalar()

[('max', 'Белкин', 250),
 ('max', 'Блохина', 250),
 ('max', 'Вячеслав', 250),
 ('max', 'Ершов', 250),
 ('max', 'Жук', 250),
 ('max', 'Зайцева', 250),
 ('max', 'Казакова', 250),
 ('max', 'Кудряшов', 250),
 ('max', 'Мельникова', 250),
 ('max', 'Морозов', 250),
 ('max', 'Некрасова', 250),
 ('max', 'Панов', 250),
 ('max', 'Петров', 250),
 ('max', 'Петрова', 250),
 ('max', 'Пономарева', 250),
 ('max', 'Русаков', 250),
 ('max', 'Суханов', 250),
 ('max', 'Трофимов', 250),
 ('min', 'Афанасьева', 0),
 ('min', 'Бирюков', 0),
 ('min', 'Васильева', 0),
 ('min', 'Воронова', 0),
 ('min', 'Гуляева', 0),
 ('min', 'Жуков', 0),
 ('min', 'Журавлева', 0),
 ('min', 'Игнатова', 100),
 ('min', 'Комаров', 0),
 ('min', 'Костина', 0),
 ('min', 'Кудряшова', 100),
 ('min', 'Кузнецов', 0),
 ('min', 'Мельникова', 100),
 ('min', 'Одинцова', 100),
 ('min', 'Павлов', 0),
 ('min', 'Рожкова', 0),
 ('min', 'Семенова', 0),
 ('min', 'Сергеева', 100),
 ('min', 'Симонов', 100),
 ('min', 'Шубина', 0),
 ('min', 'Юдин', 0)]

In [18]:
"""
7. Для каждого курса выведите фамилии самого старшего и самого младшего студентов.
Пометьте строки списка словами 'младший' и 'старший', поместив их в дополнительном столбце.
"""

st2=student.alias('st2')

subq1=select([func.max(st2.c.birthday)]).where(st.c.kurs == st2.c.kurs).as_scalar()
subq2=select([func.min(st2.c.birthday)]).where(st.c.kurs == st2.c.kurs).as_scalar()

s1 = select([text("'Младший' as 'Category'"),st.c.surname, st.c.birthday])
s1 = s1.where(st.c.birthday== subq1)
s2 = select([text("'Старший' as 'Category'"), st.c.surname, st.c.birthday])
s2 = s2.where(st.c.birthday== subq2)

stmt = union(s1,s2)
print(stmt)

result = conn.execute(stmt).fetchall()
print(len(result))
result

SELECT 'Младший' as 'Category', st.surname, st.birthday
FROM student AS st
WHERE st.birthday = (SELECT max(st2.birthday) AS max_1
FROM student AS st2
WHERE st.kurs = st2.kurs) UNION SELECT 'Старший' as 'Category', st.surname, st.birthday
FROM student AS st
WHERE st.birthday = (SELECT min(st2.birthday) AS min_1
FROM student AS st2
WHERE st.kurs = st2.kurs)
10

C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\3749306811.py:8: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq1=select([func.max(st2.c.birthday)]).where(st.c.kurs == st2.c.kurs).as_scalar()
C:\Users\Екатерина\AppData\Local\Temp\ipykernel_2120\3749306811.py:9: SADeprecationWarning: The SelectBase.as_scalar() method is deprecated and will be removed in a future release.  Please refer to SelectBase.scalar_subquery(). (deprecated since: 1.4)
  subq2=select([func.min(st2.c.birthday)]).where(st.c.kurs == st2.c.kurs).as_scalar()

[('Младший', 'Журавлева', datetime.datetime(2003, 6, 14, 0, 0)),
 ('Младший', 'Некрасова', datetime.datetime(2004, 8, 23, 0, 0)),
 ('Младший', 'Ордуханян', datetime.datetime(2003, 6, 1, 0, 0)),
 ('Младший', 'Семенова', datetime.datetime(2003, 10, 4, 0, 0)),
 ('Младший', 'Ситников', datetime.datetime(2003, 10, 5, 0, 0)),
 ('Старший', 'Васильева', datetime.datetime(1994, 5, 14, 0, 0)),
 ('Старший', 'Казакова', datetime.datetime(1994, 2, 18, 0, 0)),
 ('Старший', 'Ковалев', datetime.datetime(1995, 11, 28, 0, 0)),
 ('Старший', 'Сорокина', datetime.datetime(1993, 9, 28, 0, 0)),
 ('Старший', 'Трофимов', datetime.datetime(1995, 3, 24, 0, 0))]

In [52]:
"""
8. Напишите запрос для получения полного списка университетов вместе с количеством студентов,
которые в них учатся. Для университетов, не имеющих студентов, поместите в список фразу ‘Студентов нет’.
отсортируйте результат по убыванию числа студентов.
"""

s1 = select([u.c.univ_name, func.count(st.c.student_id)])
s1 = s1.join_from(u, st)
s1 = s1.group_by(u.c.univ_name)

s2 = select([u.c.univ_name, text("'Студентов нет'")])
s2 = s2.join_from(u, st, isouter=True)
s2 = s2.group_by(u.c.univ_name)
s2 = s2.having(func.count(st.c.student_id) == 0)

stmt = union(s1, s2).order_by(desc(func.count(st.c.student_id)))

result = conn.execute(stmt).fetchall()
print(len(result))
result

13

[('МФТИ', 'Студентов нет'),
 ('ВГУ', 16),
 ('МГУ', 10),
 ('ФинУ', 10),
 ('БГУ', 9),
 ('ФГБОУ "Политех"', 9),
 ('ВГМА', 7),
 ('РГУ', 7),
 ('КФУ', 6),
 ('МГТУ им. Баумана', 5),
 ('УЛГУ', 5),
 ('НГУ', 4),
 ('ТГУ', 2)]

In [55]:
"""
9. Напишите запрос для получения полного списка университетов вместе с фамилиями преподавателей,
в них работающих. Для университетов, не имеющих преподавателей, поместите в список фразу ‘Преподавателей нет’. результат должен содержать название университета, фамилию и имя преподавателя. отсортируйте результат по фамилии и имени преподавателя.
"""

s1 = select([u.c.univ_name, l.c.surname])
s1 = s1.join_from(u, l)

s2 = select([u.c.univ_name, text("'Преподавателей нет'")])
s2 = s2.join_from(u, l, isouter=True)
s2 = s2.where(l.c.surname == None)

stmt = union(s1, s2)

result = conn.execute(stmt).fetchall()
print(len(result))
result

32

[('БГУ', 'Преподавателей нет'),
 ('ВГМА', 'Артемьева'),
 ('ВГМА', 'Богданова'),
 ('ВГМА', 'Крюкова'),
 ('ВГМА', 'Сафонов'),
 ('ВГМА', 'Ситникова'),
 ('ВГУ', 'Алексеев'),
 ('ВГУ', 'Зайцева'),
 ('ВГУ', 'Зыкова'),
 ('ВГУ', 'Колесников'),
 ('ВГУ', 'Максимова'),
 ('ВГУ', 'Николаев'),
 ('ВГУ', 'Никонов'),
 ('ВГУ', 'Сорокин'),
 ('КФУ', 'Кудрявцева'),
 ('КФУ', 'Куликова'),
 ('МГТУ им. Баумана', 'Волков'),
 ('МГУ', 'Лагутин'),
 ('МГУ', 'Струков'),
 ('МФТИ', 'Преподавателей нет'),
 ('НГУ', 'Мамонтова'),
 ('РГУ', 'Беляков'),
 ('РГУ', 'Дорофеев'),
 ('ТГУ', 'Беспалов'),
 ('ТГУ', 'Тихонов'),
 ('УЛГУ', 'Брагина'),
 ('УЛГУ', 'Дмитриева'),
 ('УЛГУ', 'Елисеев'),
 ('ФГБОУ "Политех"', 'Зимин'),
 ('ФГБОУ "Политех"', 'Сафонова'),
 ('ФГБОУ "Политех"', 'Стрелков'),
 ('ФинУ', 'Преподавателей нет')]

In [59]:
"""
10. Выведите полный список студентов вместе с оценками, полученными ими на экзаменах.
Для студентов, не сдававших экзамены, в поле оценки поместите 0.
"""

s1 = select([st.c.surname, em.c.mark])
s1 = s1.join_from(st, em)

s2 = select([st.c.surname, 0])
s2 = s2.join_from(st, em, isouter=True)
s2 = s2.where(em.c.student_id == None)

stmt = union(s1, s2)

result = conn.execute(stmt).fetchall()
print(len(result))
result

94

[('Агафонов', 0),
 ('Аксенов', 0),
 ('Антонов', 3),
 ('Архипов', 0),
 ('Афанасьева', 1),
 ('Баранов', 0),
 ('Белкин', None),
 ('Белкин', 5),
 ('Бирюков', 0),
 ('Блохина', 5),
 ('Борисова', 5),
 ('Валерия', 0),
 ('Васильев', 3),
 ('Васильев', 5),
 ('Васильева', 0),
 ('Веселов', 2),
 ('Вишнякова', 1),
 ('Владимиров', 0),
 ('Воронова', 0),
 ('Вячеслав', 2),
 ('Гуляев', 0),
 ('Гуляева', 0),
 ('Дуб', 0),
 ('Ершов', 0),
 ('Ефимов', 0),
 ('Жданова', 5),
 ('Жук', 4),
 ('Жуков', 1),
 ('Жукова', 0),
 ('Жуковский', 0),
 ('Журавлев', 0),
 ('Журавлева', 0),
 ('Зайцева', 2),
 ('Зайцева', 5),
 ('Захаров', 0),
 ('Иванов', 1),
 ('Иванова', 0),
 ('Игнатова', 0),
 ('Казакова', 0),
 ('Казакова', 1),
 ('Казакова', 4),
 ('Калашников', 2),
 ('Киселев', 0),
 ('Ковалев', 0),
 ('Комаров', 0),
 ('Кондрат', 3),
 ('Кондратьев', 0),
 ('Костина', 4),
 ('Котов', 4),
 ('Кудряшов', 0),
 ('Кудряшова', 0),
 ('Кузнецов', 5),
 ('Кулаков', 0),
 ('Лазарев', 4),
 ('Лапина', 5),
 ('Лукин', 4),
 ('Мельникова', 2),
 ('Мельникова', 3),
 ('Мельникова', 4),
 ('Мельникова', 5),
 ('Миронова', 0),
 ('Мишина', 1),
 ('Морозов', 0),
 ('Назаров', 0),
 ('Некрасова', 0),
 ('Одинцова', 1),
 ('Ордуханян', 2),
 ('Павлов', 0),
 ('Пак', 3),
 ('Пак', 4),
 ('Пак', 5),
 ('Панов', 0),
 ('Петров', 0),
 ('Петрова', 3),
 ('Пономарев', 0),
 ('Пономарева', 0),
 ('Рожкова', 0),
 ('Русаков', 0),
 ('Семенова', 4),
 ('Сергеева', 1),
 ('Сидоров', 4),
 ('Симонов', 0),
 ('Ситников', 0),
 ('Соколова', 0),
 ('Сорокина', 0),
 ('Сорокина', 1),
 ('Суханов', 1),
 ('Тимофеева', 0),
 ('Трофимов', 2),
 ('Федоров', 1),
 ('Фролова', 0),
 ('Ширяев', 0),
 ('Шубина', 0),
 ('Юдин', 0)]