<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Семинар 5.1. Соединение таблиц. Оператор JOIN</p> 

<a id = Home></a>

**11 апреля 2022 года, пн**<br>
10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)


**14 апреля 2022 года, чт**<br>
17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>


**21 апреля 2022 года, чт**<br>
18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>

<p style="font-size:22px;text-align:center">Семинар 5.2. Соединение таблиц. Оператор JOIN</p>

**14 апреля 2022 года, чт**<br>
18:55 - 20:25<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа)<br>

**18 апреля 2022 года, пн**<br>
10:10 - 11:40<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (3 подгруппа)<br>

11:50 - 13:20<br>
Щ38/509(кк) (ул. Щербаковская, 38)<br>
Поток:ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (4 подгруппа)<br>

**28 апреля 2022 года, чт**<br>
17:20 - 18:50<br>
В4/3411(кк) (4-й Вешняковский проезд, 4)<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (1 подгруппа)<br>


```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.


LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель


SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.


UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.


EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.


SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="Students_Schema.png" style="width:60%">

In [2]:
#! pip install sqlalchemy

In [2]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists

In [3]:
engine = create_engine('sqlite:///Students.db')
metadata_obj = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata_obj.reflect(bind=engine) # Отображение БД

Создание объектов таблиц

In [4]:
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")

In [5]:
conn=engine.connect() # Соединение

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания с помощью соедиинения таблиц в Jupyter Notebook </p>

1. Составьте список названий университетов с указанием суммарного количества аудиторных часов на изучение каждого предмета.

2. Получите список названий университетов вместе с фамилиями и именами студентов, получающих максимальную для каждого университета стипендию.

3. Напишите запрос для получения списка преподавателей, преподающих только один предмет. Отсортируйте результат по фамилии преподавателя. Результат должен содержать имя и фамилию преподавателя, название предмета.

4. Напишите запрос для получения списка университетов вместе с фамилиями студентов, получивших хотя бы одну отличную оценку. Результат отсортируйте по названию университета.

5. Напишите запрос, выполняющий вывод имен и фамилий преподавателей, проводящих занятия на первом курсе. Отсортируйте результат по фаимилии преподавателя.

6. Напишите запрос, выполняющий вывод наименований предметов обучения, читаемых двумя или более преподавателями. Результат должен состоять из одного столбца названий предметов, без повторов, в алфавитном порядке по возрастанию.

# Решение

In [37]:
#1. Составьте список названий университетов с указанием суммарного количества аудиторных часов на изучение каждого предмета.

s = select(university.c.univ_name, subject.c.subj_name, subject.c.hour)
s = s.select_from(university.join(lecturer).join(subj_lect).join(subject))
s = s.order_by(university.c.univ_name)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, subject.subj_name, subject.hour
FROM university JOIN lecturer ON university.univ_id = lecturer.univ_id JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subject.subj_id = subj_lect.subj_id ORDER BY university.univ_name
24

[('ВГУ', 'История', 34),
 ('ВГУ', 'ОБЖ', 34),
 ('ВГУ', 'История', 34),
 ('ВГУ', 'Анализ данных', 42),
 ('ВГУ', 'Программирование на языках Python и SQL', 34),
 ('ВГУ', 'Физика', 34),
 ('ВГУ', 'Теория вероятностей и математическая статистика', 72),
 ('КФУ', 'Математика', 56),
 ('КФУ', 'История', 34),
 ('КФУ', 'Информатика', 56),
 ('МГТУ им. Баумана', 'Английский язык', 56),
 ('МГТУ им. Баумана', 'Программирование на языках Python и SQL', 34),
 ('МГУ', 'Английский язык', 56),
 ('МГУ', 'ОБЖ', 34),
 ('МГУ', 'Информатика', 56),
 ('НГУ', 'Программирование на языках Python и SQL', 34),
 ('РГУ', 'Программирование на языках Python и SQL', 34),
 ('РГУ', 'Информатика', 56),
 ('ТГУ', 'Информатика', 56),
 ('ТГУ', 'Физкультура', 34),
 ('ТГУ', 'Информатика', 56),
 ('УЛГУ', 'ОБЖ', 34),
 ('ФГБОУ "Политех"', 'Программирование на языках Python и SQL', 34),
 ('ФГБОУ "Политех"', 'Английский язык', 56)]

In [7]:
#2. Получите список названий университетов вместе с фамилиями и именами студентов, получающих максимальную для каждого университета стипендию.

s = select(university.c.univ_name, student.c.surname, student.c.name)
s = s.select_from(university.join(student))
s = s.group_by(university.c.univ_name)
s = s.having(student.c.stipend == func.max(student.c.stipend))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, student.surname, student.name
FROM university JOIN student ON university.univ_id = student.univ_id GROUP BY university.univ_name
HAVING student.stipend = max(student.stipend)
12

[('БГУ', 'Суханов', 'Константин'),
 ('ВГМА', 'Кондрат', 'Синицин'),
 ('ВГУ', 'Зайцева', 'Ольга'),
 ('КФУ', 'Жук', 'Оксана'),
 ('МГТУ им. Баумана', 'Миронова', 'Федор'),
 ('МГУ', 'Блохина', 'Ираида'),
 ('НГУ', 'Трофимов', 'Владислав'),
 ('РГУ', 'Панов', 'Арсений'),
 ('ТГУ', 'Мельникова', 'Светлана'),
 ('УЛГУ', 'Пономарева', 'Алина'),
 ('ФГБОУ "Политех"', 'Миронова', 'Анна'),
 ('ФинУ', 'Казакова', 'Ольга')]

In [9]:
#3. Напишите запрос для получения списка преподавателей, преподающих только один предмет. Отсортируйте результат по фамилии преподавателя. Результат должен содержать имя и фамилию преподавателя, название предмета.

s = select(lecturer.c.name, lecturer.c.surname, subject.c.subj_name)
s = s.select_from(lecturer.join(subj_lect).join(subject))
s = s.group_by(lecturer.c.surname)
s = s.having(func.count(subj_lect.c.subj_id) == 1)
s = s.order_by(lecturer.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT lecturer.name, lecturer.surname, subject.subj_name
FROM lecturer JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subject.subj_id = subj_lect.subj_id GROUP BY lecturer.surname
HAVING count(subj_lect.subj_id) = :count_1 ORDER BY lecturer.surname
12

[('Елисей', 'Алексеев', 'ОБЖ'),
 ('Мефодий', 'Беляков', 'Информатика'),
 ('Нинель', 'Брагина', 'ОБЖ'),
 ('Прокофий', 'Дорофеев', 'Программирование на языках Python и SQL'),
 ('Юлиан', 'Зимин', 'Программирование на языках Python и SQL'),
 ('Борис', 'Колесников', 'Физика'),
 ('Анна', 'Кудрявцева', 'Информатика'),
 ('Павел', 'Лагутин', 'Английский язык'),
 ('Акулина', 'Мамонтова', 'Программирование на языках Python и SQL'),
 ('Иван', 'Никонов', 'История'),
 ('Лукия', 'Сафонова', 'Английский язык'),
 ('Ладомир', 'Тихонов', 'Информатика')]

In [26]:
#4. Напишите запрос для получения списка университетов вместе с фамилиями студентов, получивших хотя бы одну отличную оценку. Результат отсортируйте по названию университета.

s = select(university.c.univ_name, student.c.surname, student.c.name, student.c.student_id, exam_marks.c.mark)
s = s.select_from(university.join(student).join(exam_marks))
s = s.group_by(student.c.student_id)
s = s.having(func.max(exam_marks.c.mark) == 5)
s = s.order_by(university.c.univ_name)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT university.univ_name, student.surname, student.name, student.student_id, exam_marks.mark
FROM university JOIN student ON university.univ_id = student.univ_id JOIN exam_marks ON student.student_id = exam_marks.student_id GROUP BY student.student_id
HAVING max(exam_marks.mark) = :max_1 ORDER BY university.univ_name
10

[('ВГУ', 'Кузнецов', 'Борис', 10, 5),
 ('ВГУ', 'Зайцева', 'Ольга', 12, 5),
 ('ВГУ', 'Белкин', 'Вадим', 55, 5),
 ('ВГУ', 'Жданова', 'Ирина', 88, 5),
 ('ВГУ', 'Борисова', 'Марина', 99, 5),
 ('МГТУ им. Баумана', 'Лапина', 'Элеонора', 82, 5),
 ('МГУ', 'Блохина', 'Ираида', 91, 5),
 ('ТГУ', 'Пак', 'Ирина', 63, 5),
 ('ТГУ', 'Мельникова', 'Светлана', 92, 5),
 ('ФГБОУ "Политех"', 'Васильев', 'Матвей', 128, 5)]

In [29]:
#5. Напишите запрос, выполняющий вывод имен и фамилий преподавателей, проводящих занятия на первом курсе. Отсортируйте результат по фаимилии преподавателя.

s = select(lecturer.c.name, lecturer.c.surname)
s = s.select_from(lecturer)
s = s.join(student, student.c.univ_id == lecturer.c.univ_id)
s = s.where(student.c.kurs == 1)
s = s.group_by(lecturer.c.surname)
s = s.order_by(lecturer.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT lecturer.name, lecturer.surname
FROM lecturer JOIN university ON university.univ_id = lecturer.univ_id JOIN student ON university.univ_id = student.univ_id
WHERE student.kurs = :kurs_1 GROUP BY lecturer.surname ORDER BY lecturer.surname
26

[('Елисей', 'Алексеев'),
 ('Майя', 'Артемьева'),
 ('Мефодий', 'Беляков'),
 ('Юлиан', 'Беспалов'),
 ('Оксана', 'Богданова'),
 ('Михаил', 'Волков'),
 ('Прокофий', 'Дорофеев'),
 ('Юлия', 'Зайцева'),
 ('Юлиан', 'Зимин'),
 ('Оксана', 'Зыкова'),
 ('Борис', 'Колесников'),
 ('Людмила', 'Крюкова'),
 ('Анна', 'Кудрявцева'),
 ('Ираида', 'Куликова'),
 ('Павел', 'Лагутин'),
 ('Иванна', 'Максимова'),
 ('Акулина', 'Мамонтова'),
 ('Виктор', 'Николаев'),
 ('Иван', 'Никонов'),
 ('Будимир', 'Сафонов'),
 ('Лукия', 'Сафонова'),
 ('Светлана', 'Ситникова'),
 ('Андрей', 'Сорокин'),
 ('Руслан', 'Стрелков'),
 ('Николай', 'Струков'),
 ('Ладомир', 'Тихонов')]

In [30]:
#6. Напишите запрос, выполняющий вывод наименований предметов обучения, читаемых двумя или более преподавателями. Результат должен состоять из одного столбца названий предметов, без повторов, в алфавитном порядке по возрастанию.

s = select(distinct(subject.c.subj_name))
s = s.select_from(subj_lect.join(subject))
s = s.group_by(subject.c.subj_name)
s = s.having(func.count(subj_lect.c.lecturer_id) >= 2)
s = s.order_by(subject.c.subj_name)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT subject.subj_name
FROM subj_lect JOIN subject ON subject.subj_id = subj_lect.subj_id GROUP BY subject.subj_name
HAVING count(subj_lect.lecturer_id) >= :count_1 ORDER BY subject.subj_name
5

[('Английский язык',),
 ('Информатика',),
 ('История',),
 ('ОБЖ',),
 ('Программирование на языках Python и SQL',)]